/*!CK:1874002351!*//*1375676749,178159149*/

._250{margin-top:3px}
div._3em ._24x img, div._3em .uiStreamPassive, div._35q ._3el, div._3em .actorName, div._3em{display:none}
div._3em .fbEmuMainBody img, div._35q ._3em{display:block}
div._3em .messageBody{display:block;color:gray}
div._3em .passiveName{font-weight:bold}
div._35q .fbEmuImage{float:none}
div._35q, div._35q .ego_column{width:122px}
div._3en img{max-width:100px;resize:both}
div._3eo{max-height:45px;overflow:hidden}
div._35q .fbEmuStreamAttachmentOffset{border-left:0;padding-left:0}
div._3em .uiBlingBox, div._3el .uiBlingBox{border-bottom:none}
div._40q2{width:119px}
body ._3qig, body ._3qig:active, body ._3qig:hover, body ._3qig:focus, body form.async_saving ._3qig{border-color:transparent;margin:2px 6px;padding:0}
body ._3qig .uiButtonText{color:#999;font-weight:normal}
._c4k{float:right}
._50hf{color:gray}
.FriendButton{display:inline-block;vertical-align:top}
html .FriendButton .uiButton{margin-left:0;margin-right:3px}
html .FriendButton .enableFriendListFlyout, .FriendButton .enableFriendListFlyout .uiButtonText, .FriendButton .enableFriendListFlyout input{cursor:default}
.requestResponseMenu .action .itemAnchor{padding-right:22px}
html .FriendButton .customimg{margin:2px 5px 0 0}
html .FriendButton .uiButtonLarge .customimg{margin-top:4px}
span.FriendLink a.uiButtonConfirm{background-image:none;background-color:transparent}
.FriendLink span.friendButton, .FriendLink span.outgoingButton{cursor:hand;cursor:pointer}
.FriendListFlyoutLoading{text-align:center}
.FlyoutFriendMenu.addToListsOpen .FriendListActionMenu,
.FlyoutFriendMenu.addToListsOpen .FriendListSubscribeSubmenu,
.FlyoutFriendMenu.addToListsOpen .FriendListCFMenu,
.FlyoutFriendMenu.addToListsOpen.NonFriendSubscriptionMenu.isUnsubscribed
.FriendListSubscribeSubmenu,
.FlyoutFriendMenu.addToListsOpen.NonFriendSubscriptionMenu.isUnsubscribed
.FriendListCFMenuSeparator,
.FlyoutFriendMenu.addToListsClosed .FriendListMenu,
.FlyoutFriendMenu.addToListsClosed.subscriptionMenuOpen .FriendListActionMenu,
.FlyoutFriendMenu.addToListsClosed.NonFriendSubscriptionMenu.isUnsubscribed
.FriendListSubscribeSubmenu,
.FlyoutFriendMenu.addToListsClosed.NonFriendSubscriptionMenu.isUnsubscribed
.FriendListCFMenuSeparator,
.FlyoutFriendMenu.addToListsClosed.subscriptionMenuOpen
.FriendListSubscribeSubmenu{display:none}
.FlyoutFriendMenu.addToListsClosed .FriendListActionMenu,
.FlyoutFriendMenu.addToListsClosed .FriendListSubscribeSubmenu,
.FlyoutFriendMenu.addToListsClosed .FriendListCFMenu,
.FlyoutFriendMenu.addToListsOpen .FriendListMenu{display:block}
._53e{-webkit-border-radius:2px;float:right;margin-right:-5px}
._53e:hover{background-color:#444;background-color:rgba(255, 255, 255, .25);text-decoration:none}
._53d ._53f{color:#fff}
._53g{margin-bottom:4px;max-width:100%;overflow:hidden;padding:4px 10px 5px;white-space:nowrap}
._53s:hover ._53g, ._53s ._6i9:focus + ._6ia ._53g{border-bottom:1px solid #888;border-bottom:1px solid rgba(255, 255, 255, .15);padding-bottom:4px}
._53g._53h{border-bottom:none;margin-bottom:0;padding-bottom:10px}
._53i{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;-webkit-font-smoothing:antialiased}
._53i._53j{font-size:12px;font-weight:normal}
._53i ._53f{display:inline-block;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._53k{cursor:auto;min-height:19px;line-height:18px;padding:0 10px 5px}
._53d ._53k{font-size:11px;font-weight:normal}
._53l{bottom:0;height:100%;left:0;position:absolute;right:0;top:0;width:100%;z-index:-1}
._53m{background-image:url(/rsrc.php/v2/yl/r/49TcbNLpHaZ.png)}
._53n{background-image:url(/rsrc.php/v2/yZ/r/0iBYUrJpFjC.png)}
._53m, ._53n{background-repeat:no-repeat;background-position:left 0;margin:0 3px;padding-left:18px}
._53a ._53o, ._53p{display:none}
._53a ._53p{display:inline}
._53d{bottom:3px;color:#fff;display:block;font-size:12px;font-weight:bold;left:2px;padding-top:10px;position:absolute;right:3px;text-overflow:ellipsis;text-shadow:0 0 3px rgba(0, 0, 0, .75);z-index:3}
._53s{position:relative}
._53s ._53s{position:static}
.uiMediaThumbNoOverlay ._53d{display:none}
._53r._53d ._53l, ._53r._53d ._53f, ._53r._53d ._4wyi{visibility:hidden}
._53s:hover ._53r._53d ._53l, ._53s:hover ._53r._53d ._53f, ._53s:hover ._53r._53d ._4wyi{visibility:visible}
._53q._53d ._53l, ._53q._53d ._53f, ._53q._53d ._6ib, ._53q._53d ._4wyi{opacity:0;-webkit-transition:opacity .2s ease}
._53q._53d ._53f:focus, ._53s:hover ._53q._53d ._53l, ._53s:hover ._53q._53d ._53f, ._53s:hover ._53q._53d ._6ib, ._53s:hover ._53q._53d ._4wyi, ._53s ._6i9:focus + ._6ia ._53l, ._53s ._6i9:focus + ._6ia ._53f, ._53s ._6i9:focus + ._6ia ._6ib, ._53s ._6i9:focus + ._6ia ._4wyi, .highContrast ._53q._53d ._53f{opacity:1}
.fluploader_swfdiv{left:0;position:absolute;top:0}
.flashUploaderOverlayButton{display:inline;position:relative;vertical-align:top}
.composerPhotoGrid .flashUploaderOverlayButton{display:block}
.flashUploaderOverlayButton.async_saving{background:url(/rsrc.php/v2/yk/r/LOOn0JtHNzb.gif) no-repeat center center}
.flashUploaderOverlayButton.async_saving div, .flashUploaderOverlayButton.async_saving a{opacity:.5}
.flashUploaderOverlayButton a.selectOver, .flashUploaderOverlayButton .selectOver a.attachmentLink{text-decoration:underline}
.composerPhotoGrid .flashUploaderOverlayButton a.selectOver{background-color:#ebeef4}
.flashUploaderOverlay .uiOverlayContent{padding-bottom:25px}
.flashUploaderOverlay .layerCancel{display:none}
.flashUploaderOverlay .headerBox{border-color:#c4cde0;border-bottom-color:#f5f5f5;border-bottom-color:rgba(0,0,0,0.1);-webkit-border-radius:3px 3px 0 0;left:-1px;margin:0;position:absolute;right:-1px;top:-1px;z-index:2}
.flashUploaderOverlay .albumInfoFields{width:330px}
.flashUploaderOverlay .albumMetaFields{margin-left:110px}
.flashUploaderOverlay .albumMetaPlacesInput{float:right;margin-right:20px;width:280px}
.flashUploaderOverlay .albumInfoFields input{border-color:#fff;outline:none;-webkit-transition:border-color .2s}
.flashUploaderOverlay .albumInfoFields input:hover, .flashUploaderOverlay .albumInfoFields input:focus{border-color:#bec7da}
.flashUploaderOverlay .albumInfoFields .photoAlbumTitleInput:focus + .photoAlbumDescInput, .flashUploaderOverlay .albumInfoFields .photoAlbumTitleInput:hover + .photoAlbumDescInput:focus{border-top-color:transparent}
.flashUploaderOverlay .albumInfoFields .highlighter{display:none}
.flashUploaderOverlay .fbPhotoBulkEditor{margin:65px -15px 0 -15px}
.flashUploaderOverlay .fbPhotoBulkEditor .editablePhoto{margin-bottom:17px;margin-left:17px}
.flashUploaderOverlay .headerFixed{border-bottom-color:#b0bbd7;-webkit-border-radius:0;left:50%;margin-left:-483px;position:fixed;right:auto;width:946px}
.flashUploaderOverlay .addPhotosEnabled .fakeButton, .flashUploaderOverlay .addPhotosDisabled .realButton{position:absolute;top:-10000px}
.flashUploaderOverlay .uiTypeaheadView .hintText{display:none}
.flashUploaderOverlay .footerBox{border-color:#c4cde0;-webkit-border-radius:0 0 3px 3px;border-top-color:#f5f5f5;border-top-color:rgba(0,0,0,0.1);position:absolute}
.footerBox .footerInner{width:100%}
.flashUploaderOverlay .footerFixed{bottom:0;border-bottom:0;-webkit-border-radius:0;border-top-color:#c4cde0;left:50%;margin-left:-483px;margin-top:50px;position:fixed;width:926px;z-index:1}
.webkit .flashUploaderOverlay .footerFixed, .webkit .flashUploaderOverlay .headerFixed{-webkit-transform:translateZ(0)}
.flashUploaderOverlay .titleInput input, .flashUploaderOverlay .descriptionInput{width:100%}
.flashUploaderOverlay .placesTypeaheadCell{width:280px}
.flashUploaderOverlay .progressLinks{padding-top:3px}
.flashUploaderOverlay .progressWrap{width:120px}
.showEmptyState .progressWrap{display:none}
.flashUploaderOverlayFooter .quality{display:inline-block;left:10px;position:relative}
.flashUploaderOverlayFooter .quality label{color:#666}
._5-r{margin-left:-3px}
._5-r._1ln2{margin-left:0}
._5-r._4jul{margin-bottom:-3px}
._5-r ._93k{float:left;margin:0 0 3px 3px;width:103px}
._5-r._620 ._gx9{border:1px solid rgba(138,161,194,.25);display:block;float:left;height:34px;margin:0 0 3px 3px;padding:34px 0 33px;width:101px}
._5-r._55z0._620 ._gx9{height:59px;padding-top:60px}
._4jul ._4un3{display:block}
._1ln2 ._4un3, ._1ln2 ._5d3_{height:64px;width:64px}
._1ln2 .uiList > li{border-color:#e9eaed;padding:3px 0}
._1ln2 .uiList > li:first-child{padding-top:0}
._1ln2 .uiList > li:last-child{padding-bottom:0}
._ph5{font-size:11px;line-height:14px}
._4jul ._ph5{border:1px solid #e9eaed;border-top:none;padding:4px 6px}
._50nl:hover ._ph5{border-color:#d3d7dc}
._1ln2 ._ph5{height:64px;padding-right:10px}
._4jul ._ph5 ._50kb{height:41px}
._93k ._4-1, ._4jul ._ph5 ._4-0 a, ._4jul ._ph5 ._4-1 a{font-weight:normal;line-height:16px}
._50nl{display:block}
._50nl:hover{text-decoration:none}
._4jul ._ph5 ._4-0 a, ._5-r ._4-1, ._ph5 ._4-if{font-weight:normal;margin-top:1px}
._93k ._4-jr{right:4px;top:4px}
._5-r ._4_98{display:block;height:30px;overflow:hidden}
._5-r ._545n{background-image:url(/rsrc.php/v2/y6/r/Jliuq1yV2IU.png);background-position:center center;background-repeat:no-repeat;height:141px;line-height:141px;width:101px}
._5-r ._545n._55z0{height:192px;line-height:192px}
._5-r ._545n._55z0._55z1{height:152px;line-height:152px}
._545n:hover{background-color:#f2f2f9}
._545n:hover ._545o{opacity:1}
._1ln2 ._5bi4{font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:240px}
._1ln2 ._5bi5{margin:4px 0 2px}
.uiMenu .privUnselectable{color:#333}
.uiMenu .uiMenuInner .privUnselectable .itemAnchor{opacity:1}
.uiMenu .audienceDescWithIcon .itemLabel{max-width:250px;min-width:250px;padding-left:20px;white-space:normal}
.fbAudienceHover{position:relative;top:2px}
.fbTaggedInAudienceIcon{margin-bottom:-4px;opacity:.5}
#fbProfileCover, #pagelet_above_header_timeline{margin:-1px -1px 0}
#pagelet_above_header_timeline{margin-left:0;margin-right:0;position:relative;z-index:1}
.timeline_fixed#pagelet_above_header_timeline{position:fixed;top:38px !important;width:851px}
#above_header_timeline_placeholder{display:none}
.timeline_fixed + #above_header_timeline_placeholder{display:block}
#viewas_header{border-color:#c4cde0;margin-bottom:0}
.compactHead #fbProfileCover .coverWrap{height:60px}
.compactHead #fbProfileCover h2{margin-top:15px;margin-left:126px}
.compactHead #fbProfileCover .profilePicThumb{margin-top:-47px}
.compactHead #fbProfileCover .profilePic{height:80px;width:80px}
#fbProfileCover .cover{display:block;position:relative}
#fbProfileCover .coverWrap{display:block;position:relative;height:315px;overflow:hidden;text-decoration:none}
#fbProfileCover .coverWrap .photo{image-rendering:optimizeQuality;min-height:100%;min-width:100%;position:absolute;left:0}
#fbProfileCover .coverBorder{border:1px solid #000;border-color:rgba(0, 0, 0, .25);border-top-color:rgba(0, 0, 0, .1);bottom:0;left:0;position:absolute;right:0;top:0}
#fbProfileCover .fbProfileCoverCollapsed .coverWrap{margin-top:-200px}
#fbProfileCover .changeCoverPhotoIndicator{position:absolute;left:400px;top:150px}
#fbProfileCover .coverNoImage .changeCoverPhotoIndicator{top:30px}
#fbProfileCover .coverNoImage{background:#e7ebf2;border-bottom:1px solid #c4cde0;height:129px;position:relative}
#fbProfileCover .opaquedLoading .photo{opacity:.25}
#fbProfileCover .coverNoImage .coverEmptyWrap{height:100%;position:relative}
#fbProfileCover .coverChangeThrobber{display:none;left:50%;margin-top:-8px;position:absolute;top:50%}
#fbProfileCover .opaquedLoading .coverChangeThrobber{display:inline}
#fbProfileCover .fbProfileCoverPhotoSelector, #fbProfileCover .fbTimelineProfilePicSelector{position:absolute;z-index:5}
#fbProfileCover .fbTimelineProfilePicSelector{left:170px;top:-47px}
#fbProfileCover .fbProfileCoverPhotoSelector{bottom:14px;right:25px}
#fbProfileCover .fbProfileCoverPhotoSelector .wrap, #fbProfileCover .fbTimelineProfilePicSelector .wrap{z-index:3}
.fbTimelineSelector .fbTimelineSelectorButton{background-color:#fff;border-color:#aaa;-webkit-border-radius:2px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .2)}
#fbProfileCover .fbTimelineSelectorButton, #fbProfileCover .fbTimelineSelectorButton:focus, #fbProfileCover .fbTimelineSelectorButton:hover, #fbProfileCover .fbProfileCoverPhotoSelector .uiSelectorMenuWrapper, #fbProfileCover .fbTimelineProfilePicSelector .uiSelectorMenuWrapper{opacity:0}
#fbProfileCover .cover:hover .fbTimelineSelectorButton, #fbProfileCover .coverNoImage .fbTimelineSelectorButton, #fbProfileCover .coverWrap:focus + .fbTimelineSelector .fbTimelineSelectorButton, #fbProfileCover .fbTimelineSelectorButton:focus, #fbProfileCover .fbTimelineSelectorButton.selected, #fbProfileCover .photoContainer:hover .fbTimelineSelectorButton, #fbProfileCover .fbTimelineNullProfilePicSelector .fbTimelineSelectorButton, #fbProfileCover .profilePicThumb:focus + .fbTimelineSelector .fbTimelineSelectorButton, #fbProfileCover .fbTimelineSelector .openToggler .uiSelectorMenuWrapper{opacity:1}
#fbProfileCover .coverEditor{display:none}
#fbProfileCover .uiSelector, #fbProfileCover .uiSelectorButton, #fbProfileCover .uiButtonText{max-width:none}
#fbTimelineHeadline{min-height:47px;position:relative;width:100%;z-index:4}
#fbTimelineHeadline .name{overflow:hidden}
#fbTimelineHeadline .actions{float:right;padding:7px 25px 0 10px;max-width:500px;text-align:right}
#fbTimelineHeadline .actions .uiButtonGroup{margin:10px 0 0 10px;white-space:nowrap}
#fbTimelineHeadline .profilePicThumb{background:rgba(0, 0, 0, .3);-webkit-border-radius:3px;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .07);display:block;left:23px;margin-top:-121px;padding:1px;position:absolute}
.pagesTimelineLayout #fbTimelineHeadline .profilePicThumb{margin-top:-104px}
#fbTimelineHeadline a.profilePicThumb:hover{border-color:#3b5998}
#fbTimelineHeadline .profilePicThumb .img{margin:0;display:block}
#fbTimelineHeadline .leftPic, #fbTimelineHeadline .rightPic{background-color:#fff;border:4px solid #fff;height:160px;width:83px}
#fbTimelineHeadline .leftPic{border-right:2px solid #fff;-webkit-border-radius:2px 0 0 2px}
#fbTimelineHeadline .rightPic{-webkit-border-radius:0 2px 2px 0}
#fbTimelineHeadline .profilePic{background-color:#fff;border:4px solid #fff;-webkit-border-radius:2px;height:160px;width:160px}
#fbTimelineHeadline .rightPic{border-left:1px solid #fff}
#fbTimelineHeadline h2{bottom:50px;color:#1c2a47;font-size:20px;overflow:hidden;margin:16px 0 0 206px}
#fbTimelineHeadline h2 a{color:#1c2a47}
#fbTimelineHeadline h2 .fcg a{color:#3b5998}
#fbTimelineHeadline h2 .fcg a.uiLinkSubtle{color:gray}
#fbTimelineHeadline h2.friendship{margin-left:214px}
#fbTimelineHeadline .alternate_name{color:gray;font-weight:normal;white-space:nowrap}
#fbTimelineHeadline .FriendButton .uiButton, #fbTimelineHeadline .subscribeButtonsContainer .uiButton{min-width:68px}
#fbTimelineHeadline .FriendButton .customimg, #fbTimelineHeadline .subscribeButtonsContainer .customimg{margin-top:4px}
#fbTimelineHeadline .profileHeaderButton, #fbTimelineHeadline .actionsDropdown, #fbTimelineHeadline .actionsContents{display:inline-block}
#fbTimelineHeadline .giftButtonImg{position:relative;top:2px}
#fbTimelineHeadline .profileHeaderButton .uiButtonConfirm{background-color:#6d84b4;border-color:#3b5998}
#fbTimelineHeadline #tlLikeButtonResponse{display:inline-block;vertical-align:bottom}
.subscribeButtonInProfileCallout{padding-right:4px}
.fbTimelineActionSelector div.openToggler{z-index:1}
.fbTimelineActionSelector div.openToggler .uiToggleFlyout{min-width:0;text-align:left;z-index:1}
.wrap a.fbTimelineActionSelectorButton .uiButtonText, .wrap a.fbTimelineActionSelectorButton:focus .uiButtonText, .wrap a.fbTimelineActionSelectorButton:active .uiButtonText{height:13px;margin-left:8px;width:9px}
.highContrast .wrap a.fbTimelineActionSelectorButton .uiButtonText, .highContrast .wrap a.fbTimelineActionSelectorButton .img{display:none}
.highContrast .wrap a.fbTimelineActionSelectorButton{width:auto}
.highContrast .wrap a.fbTimelineActionSelectorButton::before{content:attr(aria-label)}
.highContrast .wrap a.fbTimelineActionSelectorButton::after{content:"\25BC"}
.openToggler a.fbTimelineActionSelectorButton .uiButtonText, .openToggler a.fbTimelineActionSelectorButton:focus .uiButtonText, .openToggler a.fbTimelineActionSelectorButton:active .uiButtonText{background-image:url(/rsrc.php/v2/yv/r/_9IA24dkOeq.png)}
.fbTimelineActionSelector .openToggler a.fbTimelineActionSelectorButton{background-image:url(/rsrc.php/v2/yP/r/thq6v5di-N9.png);background-position:left 0;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0}
.timelineAudienceSelector{margin-left:1px;margin-top:-3px}
.timelineAudienceSelector.passiveImg{margin-left:5px}
.timelineUnitContainer .timelineAudienceSelector .wrap .uiSelectorButton{background-color:transparent;background-image:none;padding-right:8px;padding-right:20px;padding-left:8px}
.timelineUnitContainer:hover .timelineAudienceSelector.newAudienceSelector
.uiSelectorButton{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:right -114px;border:1px solid #ddd}
.timelineUnitContainer:hover .timelineAudienceSelector.newAudienceSelector
.uiSelectorButton:hover, .timelineUnitContainer .timelineAudienceSelector .uiSelectorButton:hover{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:right -153px;border:1px solid #999}
.highContrast .timelineUnitContainer .timelineAudienceSelector .wrap .uiSelectorButton::before{content:attr(aria-label)}
.highContrast .timelineUnitContainer .timelineAudienceSelector .wrap .uiSelectorButton::after{content:'\25BC'}
.timelineUnitContainer:hover .timelineAudienceSelector.audienceSelector
.openToggler .uiSelectorButton, .timelineUnitContainer .timelineAudienceSelector.audienceSelector .openToggler
.uiSelectorButton, .timelineUnitContainer .timelineAudienceSelector.audienceSelector .openToggler
.uiSelectorButton:hover{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:right -251px;background-color:#6d84b4;border:1px solid #3b5998;border-bottom-color:#6d84b4;-webkit-box-shadow:none}
.timelineAudienceSelector .uiSelectorMenuWrapper{margin-top:0}
.timelineUnitContainer .audienceSelector .uiSelectorMenu .itemIcon, .uiContextualLayer .timelineAudienceSelector .uiSelectorMenu .itemIcon{display:none}
.timelineUnitContainer .uneditable .uiSelectorMenu .itemIcon{display:inline-block}
.storyOnlyMe .timelineAudienceSelector .openToggler
.uiSelectorButton .customimg{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:left -201px;height:12px;margin-left:-4px;margin-right:4px;margin-top:1px;width:12px}
.storyOnlyMe .timelineAudienceSelector.audienceSelector .customimg{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-827px -58px;height:12px;margin-left:-4px;margin-right:4px;margin-top:1px;width:12px}
.timelineAudienceSelector .uiSelectorButton .defaultIcon, .timelineAudienceSelector .uiSelectorButton .itemIcon{margin-top:2px}
.timelineAudienceSelector .uiSelectorButton span.uiButtonText{display:none}
.storyOnlyMe .timelineAudienceSelector.audienceSelector .openToggler
.uiSelectorButton span.uiButtonText{color:#fff}
.storyOnlyMe .timelineAudienceSelector .uiSelectorButton
span.uiButtonText{margin-left:1px}
.storyOnlyMe .timelineAudienceSelector .uiSelectorButton span.uiButtonText{color:#3b5998;display:inline-block;line-height:1;margin-left:3px}
.fbTimelineCapsule{background:url(/rsrc.php/v2/yD/r/N8eF8pLkCCD.png) repeat-y center top;margin:0;padding:15px 0;position:relative;list-style:none}
.fbTimelineCapsuleBorn{padding-bottom:0}
.fbTimelineCapsule:empty{display:none}
.fbTimelineBalancer{height:0;overflow:hidden;position:absolute}
.fbTimelineCapsule .timelineUnitContainer{background:#fff;border-left:1px solid #c4cde0;border-right:1px solid #c4cde0;padding:13px 15px}
.fbTimelineCapsule .topBorder{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-412px -259px;height:3px;width:411px}
.fbTimelineCapsule .bottomBorder{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:0 -259px;height:4px;width:411px}
.fbTimelineCapsule .fbTimelineOneColumn .topBorder{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;width:851px}
.fbTimelineCapsule .fbTimelineOneColumn .bottomBorder{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;width:851px}
.fbTimelineCapsule .spinePointer{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-747px -37px;height:15px;left:-18px;position:absolute;top:20px;width:19px;z-index:1}
.fbTimelineCapsule .fbTimelineOneColumn .spinePointer{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-517px -14px;height:21px;left:418px;top:-20px;width:15px}
.fbTimelineCapsule .spinePointerDownward .spinePointer{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-501px -14px;top:auto;bottom:-19px}
.fbTimelineOneColumn{clear:both;z-index:2}
.fbTimelineOneColumn + .fbTimelineOneColumn{margin-top:30px}
.fbTimelineUnit{display:block;margin-bottom:15px;position:relative}
.fbTimelineUnit:hover{z-index:2}
.fbTimelineUnit .uiStreamStory .mainWrapper{margin-right:0;padding-top:9px}
.fbTimelineUnit .fbMainStreamAttachment{min-height:80px}
.fbTimelineUnit .fbMainStreamAttachment .uiVideoThumb img{max-height:100px}
.fbTimelineUnit .uiStreamFooter{min-height:16px}
.fbTimelineCapsule .fbTimelineIndeterminateContent{margin-bottom:0}
.fbTimelineCapsule .fbTimelineIndeterminateContent .bottomBorder{margin-bottom:15px}
.fbTimelineUnit[data-side="l"]{clear:left;float:left}
.fbTimelineTwoColumn[data-side="l"] .spinePointer{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-727px -37px;left:auto;right:-18px}
.fbTimelineCapsule .leftColumn .spinePointer{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-727px -37px}
.fbTimelineTwoColumn[data-side="l"] + .fbTimelineTwoColumn[data-side="r"] .spinePointer{top:40px}
.fbTimelineTwoColumn[data-side="r"]{clear:right;float:right}
.fbTimelineCapsule .placeholderUnit{visibility:hidden}
.fbTimelineCapsule .placeholderUnit[style]{visibility:visible;z-index:1}
.fbTimelineTwoColumn .timelineUnitContainer{width:379px}
.timelineUnitContainer .onlyMeBorder, .fbTimelineCapsule .onlyMeBorder{background:url(/rsrc.php/v2/y5/r/Iuw9iVcAzd4.png) 0 19px;display:none}
.timelineUnitContainer .storyOnlyMe .onlyMeBorder, .fbTimelineCapsule .storyOnlyMe .onlyMeBorder{display:block;height:8px;margin:-12px -12px 6px -12px}
.storyOnlyMe.timelineReportContainer.timelineFullWidthReport.ogProfileReport.ogTimeline .onlyMeBorder{margin:3px}
.storyOnlyMe.timelineReportContainer.ogProfileReport.ogTimeline .onlyMeBorder{margin:0 3px}
.storyOnlyMe.timelineReportContainer.ogProfileReport.ogTimeline .onlyMeBorderTop{margin:0 3px 3px}
.timelineReportContainer .timelineReportContent .storyOnlyMe div.editControls{top:1px}
.timelineReportContent .storyOnlyMe .onlyMeBorder{display:none}
.timelineUnitContainer .storyOnlyMe .onlyMeBorderBottom, .fbTimelineCapsule .storyOnlyMe .onlyMeBorderBottom{margin:15px -12px -12px -12px}
.timelineUnitContainer .storyOnlyMe div.editControls, .fbTimelineCapsule .storyOnlyMe div.editControls{top:16px}
.timelineReportContent .fbTimelineColumnHidden, .fbTimelineColumnHidden .timelineUnitContainer, .fbTimelineColumnHidden .spinePointer{display:none}
.fbTimelineColumnHidden .hiddenText{display:block}
.fbTimelineColumnHidden .undoButton{float:right;margin-top:-4px}
.fbTimelineCapsule div.fbTimelineComposerUnit{padding:0 5px 4px 5px;width:399px}
div.fbTimelineComposer{border-bottom:0}
.fbTimelineComposer div.focus_target{padding-bottom:0}
div.fbTimelineComposer .attachmentLoader{border-left:0;margin-top:3px}
.fbTimelineComposerUnit .UIShareStage_Title{max-width:250px}
.fbTimelineComposerAttachments > li{border-left:1px solid #e5e5e5;height:31px;margin:3px 0;padding:0}
.fbTimelineComposerAttachments > li:first-child{border:0}
.fbTimelineComposerAttachments .attachmentLink, .fbTimelineComposer .uiComposerAttachment .selected{margin:0 3px;padding:7px 7px 8px !important}
.fbTimelineComposerAttachments .attachmentLink{display:block}
.fbTimelineComposerAttachments .uiComposerAttachmentSelected .normal{display:none}
.fbTimelineComposerAttachments a.attachmentLink:hover{background:#ebeef4}
.fbTimelineComposerAttachments a.attachmentLink:hover, .fbTimelineComposerAttachments a.attachmentLink:focus{text-decoration:none}
.fbTimelineComposerAttachments .attachmentLink .attachmentName, .fbTimelineComposer .uiComposerAttachment .selected .attachmentName{vertical-align:middle}
.fbTimelineComposerAttachments .attachmentLink .img, .fbTimelineComposer .uiComposerAttachment .selected .img{margin-right:4px;position:static;vertical-align:middle}
.fbTimelineComposerAttachments .attachmentLifeEvents{margin-bottom:10px;padding:4px 7px 0}
ul.fbTimelineComposerAttachments, .uiComposerOpen ul.fbTimelineComposerAttachments{padding:0}
.async_saving .attachmentLifeEvents .uiButton{background-color:#fff;border-color:transparent}
ul.fbTimelineComposerAttachments .uiComposerAttachment .nub{left:9px;top:29px}
.fbTimelineTwoColumn .composerVeil{background:#e7ebf2;height:102%;left:-2px;position:absolute;top:-2px;width:102%;z-index:3}
.fbTimelineComposerUnit .audienceSelector .uiSelectorButton .uiButtonText{max-width:113px !important}
div.fbTimelineComposerUnit .audienceSelector .uiSelectorMenu .itemIcon{display:inline-block}
.fbTimelineComposer .attachmentBarArea{position:absolute;white-space:nowrap}
.fbTimelineComposer .timeTaggerIcon{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-300px -112px;width:29px}
.fbTimelineComposer .timeTaggerIcon.selected{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-112px -155px}
.fbTimelineComposer .feedTargetingIcon{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-240px -112px;width:29px}
.fbTimelineComposer .feedTargetingIcon.selected{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-270px -112px}
.fbTimelineComposerCapsule .storyOnlyMe div.onlyMeBorder{margin:0 -3px}
.fbTimelineComposerCapsule .storyOnlyMe div.onlyMeBorderBottom{margin:3px -3px -3px}
.fbTimelineCapsule li.fbTimelineComposerCapsule{z-index:3}
.fbEditCover #fbProfileCover .coverEditor{display:block}
.fbEditCover .profilePicNotch, .fbEditCover .coverWrap .coverBorder{cursor:move;cursor:-webkit-grab}
.fbEditCover #fbTimelineHeadline, .fbEditCover #fbProfileCover .fbTimelineEditCoverButton{display:none}
.coverWrap .profilePicNotch, .coverWrap .instructionWrap{display:none}
.fbEditCover .instructionWrap{display:block;line-height:26px;position:absolute;text-align:center;top:145px;width:100%}
.fbEditCover .instructions{background:#546185 url(/rsrc.php/v2/yl/r/Zi4SfiYNyqJ.png) 9px 8px no-repeat;background-color:rgba(84, 97, 133, .4);-webkit-border-radius:2px;-webkit-box-shadow:inset 0 1px 0 rgba(0, 0, 0, .12);color:#fff;display:inline;font-size:13px;font-weight:bold;padding:4px 9px 6px 29px}
.fbEditCover .profilePicNotch{background-color:rgba(0, 0, 0, .3);-webkit-border-radius:3px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .07);display:block;left:23px;padding:1px 1px 0;position:absolute;top:194px}
.pagesTimelineLayout .fbEditCover .profilePicNotch{top:211px}
.fbEditCover .notchInner{background-color:#fff;-webkit-border-radius:2px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;height:120px;width:168px}
.fbEditCover .coverEditor{padding:8px 10px;text-align:center}
.fbEditCover .coverEditor .saveAndCancel{text-align:right}
.fbEditCover .coverEditor .saveAndCancel form{display:inline}
.fbEditCover .coverEditor .saveAndCancel .saveButton{margin-left:4px}
.timelineEscapeHatch{position:relative;overflow:hidden}
.timelineEscapeHatch .escapeHatchHeader{background:#f0f0f0;border-bottom:1px solid #d5d7da;margin:-17px -14px 22px -14px;padding:12px 22px}
.timelineEscapeHatch .fbTimelineCompactSection{padding:20px 17px 0 17px}
.timelineEscapeHatch .uiHeader{display:none}
.timelineEscapeHatch .uiCloseButton{position:absolute;right:10px;top:30px}
.timelineEscapeHatch .profileInfoTable{width:805px}
.timelineEscapeHatch .profileInfoTable .labelContainer{background-color:#fff;color:#999;padding-left:0;padding-right:15px;padding-top:0;text-align:left}
.timelineEscapeHatch .profileInfoTable .spacer{border-top:1px solid #d6dae7}
.timelineLayout .timelineEscapeHatch .profileInfoTable th.label{padding-left:0;padding-right:0;width:170px}
.timelineEscapeHatch .fStatusOutgoing .addFriendText{display:none}
.timelineEscapeHatch .fStatusRequestable .addFriendText{display:inline}
.escapeHatch{background-color:#fff;border-left:1px solid #c3cbe2;border-right:1px solid #c3cbe2;padding:15px 0}
.escapeHatchMinimal{background-color:#fff;border:1px solid #c3cbe2;margin-top:15px}
.escapeHatchEmbedded{border:1px solid #e5e5e5;margin-bottom:15px}
.escapeHatch .escapeHatchUnit{margin-bottom:30px;width:406px}
.escapeHatch .leftUnits,
.escapeHatch .rightUnits{padding:0 9px 0 8px}
.escapeHatch .leftUnits{border-right:1px solid #ccc;width:407px}
.escapeHatch .rightUnits{width:409px}
.escapeHatch .escapeHatchUnit .escapeHatchUnitHeader{border:1px solid #d3d3d3;border-left:none;border-top:none;border-right:none;margin-bottom:5px;padding-bottom:3px}
.escapeHatch .fbTimelineFriendsBoxLarge{margin:0}
.escapeHatch .fbTimelineFriendsBoxLarge .friendsBoxInner{padding-top:0}
.escapeHatch .fbTimelineFriendsBoxLarge .friendListing{margin-bottom:4px;margin-left:4px;margin-top:0}
.escapeHatch .fbTimelineFriendsBoxLarge .friendListingFirst{margin-left:0}
.escapeHatch #pagelet_escape_hatch_quotes .quote{white-space:pre-line}
.escape_hatch_facepile > li{margin:0 0 1px 4px}
.escape_hatch_facepile > li.first{margin-left:0}
.escape_hatch_facepile > li.below{margin-top:3px}
.escape_hatch_facepile .uiScaledImageContainer{height:98px;width:98px}
.escape_hatch_facepile .wide .uiScaledImageContainer{width:99px}
.escapeHatch .escapeHatchUnit hr{background:#eee}
.escapeHatch .friendListing a.thumbnail{display:block;position:relative}
.escapeHatch .escapeHatchUnitHeader .label{width:300px}
.escapeHatch .escapeHatchUnitHeader .narrowIcon{margin-left:1px}
#pagelet_escape_hatch .escapeHatch .fbTimelineFriendsBoxLarge{width:406px}
html ._4__g{border:1px solid #d2d3d6;border-left-color:#d3d6db;border-right-color:#d3d6db}
._4__g.escapeHatchMinimal, ._4__g .uiBoxWhite{-webkit-border-radius:3px}
._51sh{-webkit-border-radius:2px 2px 0 0}
._4__g.escapeHatchEmbedded{border-color:#e5e5e5;border-width:0 0 1px 0;margin:-5px 0 5px}
._4__g.escapeHatchEmbedded .uiBoxWhite{padding-left:0;padding-top:0}
._45u{background:#fff;-webkit-border-radius:2px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .3);display:inline-block;color:#555;font-size:9px;font-weight:bold;line-height:14px;position:absolute;right:3px;top:3px;vertical-align:middle}
._58q5{line-height:25px;white-space:nowrap}
.escapeHatchEmbedded ._58q5{padding-bottom:0}
._5108{max-width:520px;min-height:35px;overflow:hidden}
._5109{float:right;padding:5px 5px 0 0}
._58q6{padding:2px 0 0 0}
._58q5 ._5108{min-height:30px}
._58q5 ._5109{padding:0}
._58q6 hr{color:#e5e5e5;height:1px;margin:10px 0 0 0}
.escapeHatchEmbedded ._58q6 hr{display:none}
._58q6 ._58q7{display:block;font-size:10px;padding:14px 0 16px 0}
.escapeHatchEmbedded ._58q6 ._58q7{padding:0 0 10px 0}
._58q6 ._5166 li{margin-right:0}
#pagelet_escape_hatch ._5109 .FriendButton .incomingButton .uiButton, #pagelet_escape_hatch ._5109 .addButton{padding:2px 9px}
html ._4__g.escapeHatchMinimal .alternate_name{text-shadow:none}
._5108 .addFriendText, ._5108 .FollowLink{color:#000}
._t6{border-top:1px dashed #bdc7d8;padding:3px}
._4_nu ._d30{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-300px -112px}
._4_na ._d30{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-112px -155px}
._mj{padding-top:3px}
._307 .composerAudienceSelector .uiButtonText{display:none !important}
._307 .composerAudienceSelector .uiSelectorButton .customimg{margin-right:-3px}
._2_3{position:relative}
._2_3 ._2yj{padding:0 0 3px}
._2yj .uiIconText{margin:0 3px;padding:7px 7px 8px !important}
._2yj .uiIconText:hover{background:#ebeef4}
._2yj .uiIconText:hover, ._2yj .uiIconText:focus{text-decoration:none}
._2yj .uiIconText .img{position:static;vertical-align:top}
._2yj ._2-s{display:inline-block;margin-top:2px}
._2yj .img{margin-right:4px}
._2_3 ._2yj ._2wr{left:10px;top:29px}
._2_3 ._4_nt{position:absolute;right:2px;top:5px}
._2_3 ._3i-{float:right;margin-top:10px}
._2_3 ._4s3{left:410px;position:absolute}
._6-d{position:relative}
._529n{overflow:hidden}
._6-d #fbProfileCover .coverNoImage, ._6-d #fbProfileCover .coverBorder{background:url(/rsrc.php/v2/yJ/r/UgNUNkKQar6.png) bottom left repeat-x;border-bottom-color:rgba(0,0,0,0.4)}
._6-d #fbTimelineHeadline{min-height:41px}
html ._6-d .fbTimelineSection{border:1px solid #d3d6db;-webkit-border-radius:0 0 3px 3px}
html ._6-d .hasPendingRequest, html ._6-d .hasPendingRequest .coverImage{-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px}
._6-d #fbTimelineHeadline .profilePicThumb{-webkit-box-shadow:none;left:15px;margin-top:0;top:-143px}
._6-d #fbProfileCover .fbTimelineProfilePicSelector{bottom:30px;left:15px;text-align:center;top:auto;width:170px}
._6-d #fbProfileCover .fbTimelineSelector .fbTimelineSelectorButton{height:auto}
._6-d #fbProfileCover .fbTimelineSelector .uiButtonText{max-width:137px}
._6-d .photoContainer .uiMenu{text-align:left}
._6-d #fbProfileCover .fbProfileCoverPhotoSelector{bottom:121px;right:15px}
html #fbTimelineHeadline ._70j{bottom:15px;padding:0;position:absolute;right:15px;width:354px}
._50zj{position:absolute;width:100%}
#fbTimelineHeadline ._70j .uiButtonGroup{margin-top:15px;vertical-align:bottom}
._6-e{bottom:12px;left:201px;position:absolute}
._6-f{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:24px;font-weight:500;line-height:30px;max-width:275px}
.fbEditCover ._6-f{display:none}
._6-f .alternate_name{font-size:20px;font-weight:normal;white-space:nowrap}
.win ._6-f{font-weight:bold;letter-spacing:0}
._8_2{padding-right:30px}
._5ee5{position:relative;right:30px}
._5ee6{position:absolute}
._8_2, ._6-f .alternate_name{color:#fff;text-rendering:optimizelegibility;text-shadow:0 0 3px rgba(0,0,0,0.8)}
._6_5 ._8_2, ._6_5 .alternate_name{text-shadow:0 0 3px rgba(0, 0, 0, .4)}
._6-d #fbProfileCover .coverNoImage{background-color:#d5d6d9;border:none;height:160px;position:relative}
._6-d #fbProfileCover .coverNoImage::after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._6-d .fbEditCover .profilePicNotch{left:15px;top:173px}
._6-d .fbEditCover .notchInner{height:141px}
._6-d .fbEditCover .coverEditor{padding:9px 10px}
._70k{clear:right;padding-left:201px;width:649px}
._9e-{height:120px}
._9e_{left:180px;position:absolute}
._5f2l{color:rgba(255,255,255,0.68)}
._6_7{border-left:1px solid #e9eaed}
._529n ._6_7{width:99999px}
._6-6{border-right:1px solid #e9eaed;float:left;font-size:13px;font-weight:bold;height:43px;line-height:3.3;padding:0 17px;position:relative;vertical-align:middle;white-space:nowrap}
._513x{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-767px -37px;bottom:-1px;display:none;height:9px;left:50%;margin-left:-8px;position:absolute;width:17px}
._6-6:hover, ._9rx.openToggler, ._9ry:hover, html ._9rw._54ne ._54nc{background:#f6f7f8;text-decoration:none}
._6-7{border-width:0 1px;color:#37404e}
._6-7:hover{background:#fff;cursor:default}
._6-7 ._513x{display:block}
._9rv{margin-left:-1px;min-width:83px}
.webkit ._9rv{padding-top:1px}
div._9rv ._54nf{padding:6px 0}
div._9rv ._54ng{border:1px solid #d3d6db}
div._9rv ._9rw ._54nc{border:0;color:#3b5998;display:block;font-size:11px;font-weight:normal;line-height:23px;padding:0 17px;white-space:nowrap}
._9rx{padding:0}
._9ry{display:block;padding:0 17px}
._bxy{margin-left:7px;position:relative;top:-2px}
._gs6{color:#89919c;font-size:11px;font-weight:normal;padding-left:6px}
._42di{float:right;margin:8px 13px 0}
._42di:hover ._42dj, ._42di:hover ._gs6{text-decoration:underline}
._42di .img{float:left;margin:2px 10px 0 0}
._42di ._gs6{padding-left:0}
._5215 ._gs6{display:none}

._wj{font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;-webkit-font-smoothing:antialiased}
._wk{font-size:13px;line-height:18px}
._1_m{border-bottom:1px solid #e5e5e5}
._4lh ._1_m{border:0;margin:0 0 15px;padding:0}
._50c7{height:32px;width:32px}
._4lh ._50c7{height:40px;margin-right:1px;width:40px}
._1_n{line-height:15px}
._1_n .uiStreamOGAttached, ._1_n .uiStreamOGAttached a{color:gray}
._1_o{margin-left:6px;position:relative;top:1px}
._1_p{border:none;margin-bottom:12px}
._1_q{margin-top:3px;height:10px;width:10px;vertical-align:top}
._1_r{margin-left:6px;font-weight:bold}
._1_s{font-size:11px;font-weight:normal;margin-right:15px}
._4lh ._1_s{font-size:12px;line-height:16px;margin:4px 15px 1px 0}
._1_t ._1_s{margin-right:20px}
._1_s .primaryActor{font-weight:bold}
html ._51x9 ._1_s, .fbTimelineViewingSelf ._1_s{margin-right:51px}
._1_m + .aboveUnitContent{margin-top:15px}
.fbTimelineFeedbackActions{background-color:#edeff4;padding:5px 12px}
.fbTimelineMiniUFI .fbTimelineFeedbackActions{background:transparent;padding:0}
.fbTimelineFeedbackHeader form{display:inline}
.fbTimelineUFI .UIActionLinks_bottom a, .fbTimelineUFI .fbTimelineFeedbackActions input, .fbTimelineUFI .UIActionLinks .uiLinkButton, .fbTimelineUFI .UIActionLinks .uiLinkButton input, .fbTimelineUFI div.fbTimelineFeedbackActions input:hover, .fbTimelineUFI .fbTimelineFeedbackActions button.as_link{color:#3b5998}
.fbTimelineFeedbackHeader .uiBlingBox, .fbTimelineFeedbackHeader .uiBlingBox:hover{border-style:none;height:13px;padding:0}
.fbTimelineFeedbackHeader .uiBlingBox .text{vertical-align:baseline}
.fbTimelineFeedbackComments a:hover, .fbTimelineFeedbackLikes a:hover, .fbTimelineFeedbackShares a:hover{text-decoration:none}
.fbTimelineFeedbackComments a, .fbTimelineFeedbackLikes a, .fbTimelineFeedbackShares a{padding-left:18px;position:relative}
.fbTimelineFeedbackComments i, .fbTimelineFeedbackLikes i, .fbTimelineFeedbackShares i{display:block;left:0;position:absolute;top:-1px;width:14px}
.fbTimelineFeedbackLikes i{background-image:url(/rsrc.php/v2/yg/r/Qdv04UHuWZa.png);background-repeat:no-repeat;background-size:auto;background-position:0 -35px;height:13px}
.fbTimelineFeedbackComments i{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-794px -58px;height:15px}
.fbTimelineFeedbackShares i{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-776px -58px;height:16px}
.timelineLayout{background:#e7ebf2}
.canHaveFixedElements body.timelineLayout #blueBar{padding-top:0 !important}
body.timelineLayout .timeline_fixed#blueBar{padding-top:0 !important;position:fixed !important}
.timelineLayout #globalContainer{clear:both}
.timelineLayout #contentArea{position:relative;width:851px !important}
.timelineLayout #contentCol{background:none;padding-top:0}
.timelineLayout #rightCol{margin-right:-5px;width:122px}
.timelineLayout .timeline_fixed#rightCol .rightColWrap{position:fixed;top:38px}
.timelineLayout #pageFooter{margin:0;overflow:hidden;width:851px}
.timelineLayout .copyright{margin-bottom:10px;margin-top:10px}
.timelineLayout #bottomContent{display:none}
.timelineLayout #contentCurve{background-color:transparent}
.timelineLayout .fbTimelineTopSection{padding:0;margin:0}
.timelineLayout .megaphone_story_wrapper{margin-bottom:10px}
.timelineLayout .megaphone_box{background-color:#fff;border-top:0}
._4-jt{margin-bottom:5px}
._5859{display:inline-block;opacity:0;-webkit-transition:opacity .1667s ease-out}
._559b{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-656px -58px;height:23px;width:24px}
._59h-{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:0 -112px;height:45px;width:46px}
._5859.openToggler ._559b, ._559b:hover{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-681px -58px}
._5rz:hover ._5859, ._5859.openToggler, ._52uy, ._58v0 ._5859{opacity:1}
html ._559c{padding:0 5px}
html ._5ant{color:#999;font-size:9px;font-weight:normal;margin:0;padding:8px 0 0 11px;text-transform:uppercase}
html ._5ant a{color:#999}
._4-jt ._50n2{padding-left:6px}
._4-jt ._50-q .itemAnchor{padding-left:11px}
._50od ._50qj{margin:0;padding:0 0 0 2px}
._50od ._50qk{margin-top:-4px}
._50od ._51-s{margin:10px 15px}
._50od .uiOverlayFooterMessage{width:auto}
._57_1, ._57_2{position:absolute;right:4px;top:4px}
._57_3{border-top:1px solid rgba(0, 0, 0, .1);height:15px;padding:5px}
._5fe7{height:23px}
._5bpn i.img{display:inherit}
._gx4{min-height:200px}
._5rz{position:relative}
._4_mh, ._gx7{display:block;font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%}
._gx8{display:block;position:relative}
._5rz ._5d3_{height:196px;width:196px}
._gx8::after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._gx8 .img{background:#f2f2f2;display:block}
._gx6{position:relative}
._620 ._gx9{border-color:#fff;padding:70px 0;text-align:center}
._1fs8{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._1fs8 ._5dpi{float:left;max-width:155px;overflow:hidden;text-overflow:ellipsis}
._1fs8 ._5dpi:hover{text-decoration:underline}
._gx6 ._4-u9{bottom:3px;position:absolute;right:2px;top:inherit}
._gx6 ._1edt{margin-right:2px}
._4-he{background-repeat:no-repeat;background-size:cover;height:196px;width:196px}
._56bk ._4-he{height:294px}
._5rz .fbPhotoStarButton{border:1px solid #aaa;border:1px solid rgba(0, 0, 0, .35);border-right:none;padding:2px 8px}
._5rz .fbPhotoStarButton.selected, ._5rz .fbPhotoStarButton.selected:hover, ._5rz .fbPhotoStarButton.selected:focus{background-color:#6d84b4;border-color:#3b5998;border-color:rgba(14, 34, 74, .7)}
html ._4-me img{max-height:none;max-width:none}
html ._4-me i{background-repeat:no-repeat;bottom:5px;height:28px;left:5px;margin:0;top:auto;width:40px}
._5rz.drag a{cursor:move}
._5rz.drag{background-color:#fff;-webkit-box-shadow:0 0 2px rgba(0,0,0,.1);cursor:move;opacity:.5;z-index:1}
._5rz._51k9{display:none}
._531d{display:inline-block}
._r95 ._54jk{padding:6px 8px 4px}
._54jl{visibility:hidden}
._54jk:hover ._54jl{visibility:visible}
._54jk ._54jl .lock{bottom:1px}
._54kt{color:#89919c;font-size:11px;height:173px;margin-top:90px;padding-left:13px;text-align:center;vertical-align:middle;width:170px}
._5ezn{margin-bottom:8px}
._53a8 ._54kt{height:147px}
._56bk ._54kt{height:231px;margin-top:130px}
._56bk ._53a8 ._54kt{height:204px}
._53a7{background:url(/rsrc.php/v2/ys/r/5hFskDSpGBe.png) 0 0;min-height:275px}
._56bk ._53a7{background:url(/rsrc.php/v2/y9/r/5xca90v7U7l.png) 0 0;min-height:370px}
._53a7 ._3owb{background-color:#fff;min-height:263px}
._56bk ._53a7 ._3owb{min-height:361px}
._53a7 ._gx9 ._3owb, ._53a8 ._gx9 ._3owb{background-color:transparent;min-height:0}
._53a8{background:url(/rsrc.php/v2/yb/r/yORgtCWiokn.png) 0 0;min-height:249px}
._56bk ._53a8{background:url(/rsrc.php/v2/yN/r/n4Ugi5zcmyz.png) 0 0;min-height:343px}
._53a8 ._3owb{background-color:#fff;min-height:237px}
._r95 ._14a_{cursor:pointer}
._3cz{background:#f6f7f8;border-bottom:1px solid #d3d6db;-webkit-border-radius:2px 2px 0 0;margin-bottom:15px;min-height:66px;padding-top:16px}
._52rb{background:#fff}
._4-ox{min-height:0}
._1_ca{height:30px;padding:8px 0 0}
._3c-{font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;height:24px;line-height:1;margin:0 12px 5px}
._51sw{margin:0 9px 0 0;vertical-align:middle}
._51sx{vertical-align:middle}
._52bu ._3ow-{background-color:#d3d7dc;border-bottom:1px solid #adb3bc;margin-bottom:-2px;width:100%}
._1_cb{background:#d3d7dc;border:1px solid #c1c6cd;border-bottom:0;border-top-color:#adb3bc;margin:0 -1px -1px}
._1_cc{display:block;margin:60px auto}
._2zh3{-webkit-user-select:none}
._6ph{height:24px;line-height:24px;vertical-align:middle}
._6ph .fbProfileBrowserTypeahead{line-height:0}
._6ph, ._69l{padding-right:14px}
._3c_:hover ._3sz, ._3s- ._3sz, ._3c- a{color:#37404e}
._69l{margin-top:3px}
._69l .uiButtonGroup{vertical-align:middle}
._6e3{margin:1px 0 1px 17px}
._3dc{font-size:13px;padding:0 0 3px 12px;visibility:hidden;white-space:nowrap}
._5brz{visibility:visible}
._3s18, ._3c_{cursor:pointer;display:inline-block;margin:4px 17px 6px 0;position:relative}
._3s18 ._3s19:hover, ._3s18 ._3c_:hover, ._3c_:hover{text-decoration:none}
._3sz{font-weight:bold}
._3d0{-webkit-border-radius:2px;color:#89919c !important;font-size:12px;margin-left:5px;padding:1px;-webkit-transition-duration:.2s;-webkit-transition-property:background-color, color}
._4-k9 ._3d0{background-color:#45609e;color:#fff !important}
._5bry ._3d0{display:none}
._3s- ._3d0{display:inherit}
._3s_{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-837px -4px;display:none;height:7px;left:50%;margin-left:-7px;position:absolute;top:20px;width:15px}
._3s_._52rc{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-800px -37px}
._52bu ._3s_{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-785px -37px;height:8px;top:20px}
._3s- ._3s_{display:block}
._3s18{margin:0 0 0 -5px}
._3s19{border:1px solid transparent;border-bottom:none;display:block;font-weight:bold;line-height:15px;padding:4px 8px;position:relative}
._3s1a{background-color:#fff;border:1px solid #d3d4d7;display:none;left:0;padding:3px 0;position:absolute;top:23px;z-index:1}
._3s18:hover ._3s19{background:#fff;border-color:#d3d4d7;z-index:2}
._3s18:hover ._3s1a{display:block}
._3s18 ._3c_{display:block;margin:1px 0;padding:3px 8px;white-space:nowrap}
._3s18 ._3c_:hover{background:#f2f2f2}
._3s18 ._3d0, ._3s18 ._3sz{font-size:11px;font-weight:normal}
._3i9{padding:0 14px 0 15px}
._50_s{background:url(/rsrc.php/v2/y8/r/5_VIiywrZxT.png) repeat-x 0 0;bottom:-1px;padding-top:114px;text-align:center;width:851px;z-index:201}
._50_t{background:#fff;display:block;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:18px;line-height:24px;padding:30px 200px 20px}
._50_s:hover ._50_t{color:#333}
._50_t:hover{text-decoration:none}
@-webkit-keyframes fbTimelineCurationNUXBounce{50%{-webkit-transform:translate(0, 8px)}
}
._50_u{-webkit-animation:fbTimelineCurationNUXBounce 2s ease-in-out infinite}
._2w3{margin:18px 0 0 0;width:851px}
._2w4{width:136px}
._2w3 > ._30f{background:#fff;border:1px solid #d3d6db;-webkit-border-radius:3px;margin-bottom:31px;min-height:406px}
._30f{position:relative}
._359{display:block;margin:20px auto}
._36d .fbTimelineNavX{background:#fff;border:1px solid #c4cde0;-webkit-border-radius:3px}
._36d ._6vp{margin:20px 9px 0 0;padding:15px 5px 15px 0}
._c4f ._c4e, ._c4f ._4khu{display:none}
._36d .fbVaultPageMainPagelet{margin-left:-15px;margin-right:-14px}
._36d .fbVaultPageGrid, ._36d .fbVaultPageTopBar, ._36d .fbVaultPageFixedHeader{border:none}
._36d .fbVaultCollectionOverview .fbVaultSelectableGrid{margin-left:-12px;margin-right:-12px}
._2i12 ._359{margin:6px auto}
._3qxv ._359{display:none}
._4-y-{color:#bbb;font-family:'helvetica neue', helvetica, arial, sans-serif;font-size:20px;-webkit-font-smoothing:antialiased;font-weight:bold;padding:70px 0;text-align:center}
._4khu{margin:30px 0 40px;text-align:center}
._3t3{background:#f6f7f8;-webkit-border-radius:0 0 2px 2px;border-top:1px solid #d3d6db;display:block;margin:0 -14px 0 -15px;padding:15px 0;text-align:center}
._3t3:hover{background:#fafbfc}
.async_saving ._3t5{display:none}
._5ce{position:absolute;right:8px;top:0}
._5d68{padding-right:2px;padding-top:10px}
._6q0 ._5m-{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-501px -61px;display:inline-block;height:50px;margin:0 6px 0 3px;padding:0 5px 0 7px;position:relative;top:-2px;width:13px;z-index:2}
._6q0 ._5n0{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-543px -99px;display:block;height:11px;margin-top:16px;width:11px}
._554j{top:38px;width:851px;z-index:250}
.hasSmurfbar ._554j{top:43px}
._60i{background:#fff;border:1px solid #d3d6db;-webkit-border-radius:0 0 3px 3px;border-top:0;height:32px;margin-top:-49px;padding:8px 16px;-webkit-transition:.18s margin-top cubic-bezier(.63, .01, .89, .8)}
._554g ._60i{margin-top:0}
._69j, ._554h, ._61p{margin-top:4px}
._554h{font-size:13px;font-weight:bold;line-height:25px}
._69j, ._554h{display:inline-block;vertical-align:middle}
._69j ._69k{margin-left:15px}
._5vf h3.uiHeaderTitle{display:inline-block;font-size:16px;margin-left:10px;padding:0 8px}
._5vg{border-bottom:1px solid #f6f7f8;border-top:1px solid #d3d7dc;margin-top:-10px}
._5vf .uiHeaderActions{margin:5px 15px 0 0;padding:0 8px;position:relative}
._5vf .uiHeaderActions a{font-size:9px;padding-right:10px;text-transform:uppercase}
._5vf h3.uiHeaderTitle, ._5vf .uiHeaderActions a{color:#89919c;text-shadow:0 1px 0 #f6f7f8}
._5vf h3.uiHeaderTitle, ._5vf .uiHeaderActions{background-color:#e9eaed}
html ._5vf ._5xn{top:4px;right:5px}
.combinedSections ._5vf{display:none}
.fbTimelinePlatformStory .storyContent .actorPhoto, .fbTimelinePlatformStory .storyContent .actorName, .fbTimelinePlatformStory .storyContent .uiStreamFooter, .fbTimelinePlatformStory .storyContent abbr{display:none}
.fbTimelinePlatformStory .storyContent h6{margin-bottom:3px}
.fbTimelinePlatformStory .storyContent .messageBody{font-size:13px;line-height:18px}
.fbTimelinePlatformStory .exploded .iframeEmbed, .fbTimelinePlatformStory .exploded .swfObject{margin-left:-12px;overflow:hidden}
.fbTimelinePlatformStorySpike .uiStreamAttachments .img{max-height:50px;max-width:50px}
.fbTimelinePlatformStorySpike .listItem{border-bottom:1px solid #e5e5e5;max-width:370px}
.fbTimelinePlatformStorySpike .listItemClose{opacity:0;float:right}
.fbTimelinePlatformStorySpike .timelineAudienceSelector{opacity:0}
.fbTimelinePlatformStorySpike .listItem:hover .listItemClose, .fbTimelinePlatformStorySpike .listItem:hover .timelineAudienceSelector{opacity:1}
.fbTimelinePlatformStorySpike .uiAttachmentTitle strong{font-weight:normal}
.fbTimelinePlatformStorySpike .caption, .fbTimelinePlatformStorySpike .uiAttachmentDesc, .fbTimelinePlatformStorySpike .uiAttachmentTitle{display:block;max-width:295px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.fbTimelinePlatformStorySpike .uiAttachmentDesc{margin-top:0}
.fbTimelinePlatformStorySpike .uiStreamAttachments{margin-bottom:5px;margin-top:5px;min-height:50px}
.fbTimelinePlatformStorySpike .uiVideoThumb{outline:0}
.fbTimelinePlatformStorySpike .fbTimelineMiniUFI{width:295px}
.fbTimelinePlatformStorySpike .uiMorePager{margin:0}
.fbTimelinePlatformStorySpike .uiMorePagerLight .uiMorePagerPrimary, .fbTimelinePlatformStorySpike .uiMorePagerLight .uiMorePagerLoader, .fbTimelinePlatformStorySpike .uiMorePagerLight .uiMorePagerPrimary:hover, .fbTimelinePlatformStorySpike .uiMorePagerLight .uiMorePagerLoader:hover{border:0}
.fbTimelinePlatformStorySpike .passiveImg{margin-left:5px}
.fbTimelineUnit .uiStreamStory .storyContent .storyInnerContent, .fbTimelineUnit .uiStreamStory .storyContent .storyInnerContentPush{margin:0}
.fbTimelineUnit .uiStreamStory .storyContent .storyInnerContent .mainWrapper{margin-bottom:0}
.timelineLayout .uiStream .shareRedesign{width:auto}
.profilePicLoading #fbTimelineHeadline .profilePicThumb{background:url(/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat center center}
.profilePicLoading .fbTimelineProfilePicSelector{display:none}
.profilePicLoading .profilePic{opacity:.3}
._70l{background:#f6f7f8;border-bottom:1px solid #e9eaed}
._70l:hover{background:#f9fafb}
._57fo, ._71u{position:relative}
._71u{color:#6a7480;line-height:38px}
._57fo, ._57fp{height:36px}
._57fo{position:absolute;width:100%}
._70n{color:#6a7480;font-size:12px;font-weight:700;padding:2px 0 0 14px}
a._71u:hover{text-decoration:none}
a._71u:hover._70n{text-decoration:underline}
._5amu{margin:10px 12px 0 0}
._57o2{position:relative;z-index:1}
._5589{margin:1px 1px 0 0}
._71v{opacity:0;position:absolute;right:0;top:7px}
.openToggler._71v, ._71v:hover, .timelineReportContent .timelineUnitContainer:hover ._71v{opacity:1}
._70l .uiLinkSubtle, ._70l .fcg{color:#89919c !important}
.fbTimelineSection .reportCapsule{background:none}
.timelineReportContainer{background:#fff;border-left:solid 1px #c4cde0;border-right:solid 1px #c4cde0;padding:1px 0 0 0}
.timelineReportContainer .timelineReportContent .timelineUnitContainer{border:0;margin:0 3px;width:373px}
.timelineReportContainer .fbTimelineCapsule{background:url(/rsrc.php/v2/yq/r/-n9PC2841zZ.png) repeat-y center top;margin:0;padding:0}
.timelineReportContainer + .spinePointer{display:none}
.timelineReportContainer .timelineUnitContainer .aboveUnitContent, .timelineReportContainer .timelineUnitContainer .reportUnitTitle{background-color:#f1f1f1;color:#333;font-weight:bold;margin:-12px -15px 10px -15px;padding:5px 12px}
.timelineReportContainer .timelineUnitContainer{padding-bottom:15px}
.timelineReportContainer .timelineUnitContainer.ogProfileLastUnit{padding-bottom:13px}
.timelineReportContainer .timelineUnitContainer .reportUnitTitle{margin-top:-7px}
.timelineReportContainer .timelineUnitContainer .ogProfileTitle{border-bottom:none}
.timelineReportContainer .fbTimelineTwoColumn .timelineUnitContainer, .fbTimelineTwoColumn .timelineReportContainer .timelineUnitContainer{border:none;border-top:1px solid #d3d3d3}
.timelineReportContainer .fbTimelineTwoColumn{margin-bottom:0}
.timelineReportContainer .lastCapsule{margin-bottom:10px}
.timelineReportContainer .lastCapsule .timelineUnitContainer{border-bottom:none}
.timelineReportContainer div.mapUnit{margin:-7px 0 -12px -15px}
.timelineReportContainer table div.mapUnit{width:auto}
.timelineReportContainer .photoUnit{margin:-7px -15px -12px -18px}
.fbTimelineSection{background:#fff;border:1px solid #c4cde0;border-bottom-width:2px;-webkit-border-radius:3px;padding:20px 35px 10px}
.fbTimelineSection .uiMorePager{margin:0 -35px -10px}
.pageAppTab{padding:20px 20px}
.fbTimelineTopSection{border-bottom:0;-webkit-border-radius:0;border-top:0;padding-bottom:0}
.fbTimelineTopSectionBase .topSectionBottomBorder{display:block}
.fbTimelineTopSectionBase.collapsedHead .topSectionBottomBorder{display:none}
.fbTimelineCompactSection{padding:0 0 15px 0}
.fbTimelineCompactSection .uiMorePager{margin:0}
.fbTimelineSectionTransparent{background:none;border:none;-webkit-border-radius:0;-webkit-box-shadow:none;padding-top:75px}
.fbTimelinePermalink .fbTimelineSectionTransparent{padding-top:0}
#pagelet_timeline_recent .fbTimelineCompactSection{padding:0}
#pagelet_timeline_recent .fbTimelineShowOlder{background:url(/rsrc.php/v2/yD/r/N8eF8pLkCCD.png) repeat-y center top;padding-top:10px}
.fbTimelineTabSection{padding:20px 20px 0 20px}
.fbTimelineTabSection .uiMorePager{margin:0 -20px}
.fbTimelineSubSections{display:none}
.fbTimelineSectionExpanded .fbTimelineSubSections{display:block}
.fbTimelineSectionExpandPager .async_saving a.uiMorePagerPrimary{display:none}
.fbTimelineSectionExpander .uiMorePager .uiMorePagerPrimary, .fbTimelineSectionExpander .uiMorePager .uiMorePagerPrimary:hover{background:none;border:0;margin:0;padding:0}
.fbTimelineSectionExpandPager .timelineExpandLabel{background:#778cb7;-webkit-border-radius:3px;color:#fff;display:inline-block;height:14px;padding:4px 10px;white-space:nowrap}
.fbTimelineSectionExpandPager .timelineExpandLabel i{margin:0 0 1px 7px;position:relative}
.fbTimelineSectionExpandPager .timelineExpandLabel:hover{background:#5d76aa}
.fbTimelineShowOlder .uiMorePager a.uiMorePagerPrimary, .fbTimelineShowOlder .uiMorePager a.uiMorePagerPrimary:hover{background-color:#94a1c1;-webkit-border-radius:3px;display:inline-block;padding:4px 10px}
.fbTimelineShowOlder .uiMorePager a.uiMorePagerPrimary:hover{background-color:#697cac;text-decoration:underline}
.fbTimelineShowOlder .async_saving a.uiMorePagerPrimary, .fbTimelineShowOlder .async_saving a.uiMorePagerPrimary:hover{display:none}
.fbTimelineSectionExpandPager a{color:#fff}
.fbTimelineSectionExpandPager a:hover{text-decoration:none}
.fbTimelineSectionExpandPager .uiHeader{background:none;border:0}
.fbTimelineSectionExpandPager .uiMorePagerLoader{background-color:#e7ebf2;border:0;margin:0;padding:8px}
.fbTimelineSectionExpandPager .async_saving .uiMorePagerLoader{display:inline-block}
.fbTimelineSectionExpandPager .noContent{background-color:#edeff4;color:#999;text-align:center}
.fbTimelineSectionExpandPager{position:relative;text-align:center}
.fbTimelineSectionLoading{min-height:180px}
.fbTimelineHiddenPager{position:fixed;bottom:-10000px}
.fbTimelineTimePeriod.combinedSections .fbTimelineSectionTransparent, .fbTimelineTimePeriod.combinedSections .fbTimelineCompactSection, .fbTimelineTimePeriod.combinedSections .fbTimelineCapsule{padding:0}
.fbTimelineSelector .fbTimelineSelectorButton, .fbTimelineCurationControl .audienceSelector, .fbTimelineCurationControl .fbTimelineStarButton{border-color:#aaa;font-weight:normal}
.fbTimelineSelector .wrap a.fbTimelineSelectorButton, .fbTimelineSelector .wrap a.fbTimelineSelectorButton:hover{background-image:url(/rsrc.php/v2/yP/r/thq6v5di-N9.png);background-position:left 0;height:16px;padding:2px 8px}
.fbTimelineSelector .wrap a.fbTimelineSelectorButton:active, .fbTimelineSelector .wrap a.fbTimelineSelectorButton:focus{background-image:url(/rsrc.php/v2/ya/r/KAWGdv0WsO6.png);background-position:left 0}
.fbTimelineSelector .openToggler a.fbTimelineSelectorButton{-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0}
.fbTimelineSelector .uiMenu .unselectable .itemAnchor{background-image:none;font-weight:normal}
.menuRight .uiSelectorMenuWrapper{left:100%;margin-left:1px;right:auto;top:1px}
.fbTimelineCurationControl .fbTimelineStarButton{padding:2px 8px}
.fbTimelineStarButton .img{margin-top:2px}
.timelineUnitContainer .editControls a.fbTimelineStarButtonSelected, .timelineUnitContainer .editControls a.fbTimelineStarButtonSelected:focus, .timelineUnitContainer .editControls a.fbTimelineStarButtonSelected:hover, .timelineUnitContainer .editControls a.fbTimelineStarButtonSelected:active{background-color:#6d84b4;border:1px solid #3b5998;position:relative}
.timelineUnitContainer .fbTimelineCurationControl .uiButtonGroup, .timelineUnitContainer .fbTimelineCurationControl .uiButtonGroupItem{border-color:#97a4c2}
.editControls .throbber{display:none}
.timelineUnitContainer .editControls.async_saving .throbber{display:inline-block;vertical-align:middle}
.fbTimelineProfilePicSelector .uiMenuItem .itemAnchor, .fbProfileCoverPhotoSelector .uiMenuItem .itemAnchor{padding-bottom:3px}
.fbTimelineProfilePicSelector .fbTimelineSelectorEditThumbnail .img{margin:0 8px 0 3px}
.fbTimelineProfilePicSelector .fbTimelineSelectorRemovePicture .img{margin:0 8px 0 2px}
.fbProfileCoverPhotoSelector .fbTimelineSelectorShiftCover .img{margin:0 4px 0 1px}
.fbProfileCoverPhotoSelector .fbTimelineSelectorRemovePhoto .img{margin:0 7px 0 4px}
.fbProfileCoverPhotoSelector .uiMenuInner, .fbTimelineProfilePicSelector .uiMenuInner{overflow:hidden}
.timelineUnitContainer .audienceSelector .uiButtonNoText .customimg{margin-right:1px;margin-top:2px}
.timelineUnitContainer .composerAudienceSelector{margin-top:0}
.fbTimelineTimePeriod{background:#e7ebf2 url(/rsrc.php/v2/yD/r/N8eF8pLkCCD.png) repeat-y center top}
.fbTimelineTimePeriod .fbTimelineSectionExpander{padding-bottom:45px}
.fbTimelineTimePeriodUnexpanded, .fbTimelineTimePeriod .forceLoad, .fbTimelineTimePeriod .loadingIndicator{display:none}
.fbTimelineTimePeriod .loadingContainer{text-align:center}
.fbTimelineSectionLoading .loadingIndicator{background-color:#e7ebf2;display:block;margin:0 auto;padding:8px}
.fbTimelineTimePeriodSuppressed .loadingContainer{padding:0}
.fbTimelineTimePeriodSuppressed .fbTimelineSection{border:0}
.fbTimelineTimePeriodSuppressed .loadingIndicator, .fbTimelineTimePeriodSuppressed .sectionHeader{display:none}
.fbTimelineTimePeriodSuppressed .forceLoad{background-color:#6d84b4;-webkit-border-radius:3px;color:#fff;display:inline-block;height:22px;line-height:22px}
.fbTimelineTimePeriodSuppressed .forceLoad:hover{background-color:#3b5998}
html ._4lh, ._4lh .fbTimelineScrubber, ._4lh .fbTimelineTimePeriod, ._4lh .fbTimelineSectionExpandPager .uiMorePagerLoader, ._4lh .fbTimelineCapsule li.anchorUnit:last-child, ._4lh .fbTimelineSectionLoading .loadingIndicator, ._4lh .fbTimelineTwoColumn .composerVeil, ._4lh .timelineTourStarted .contextualBlind, ._4lh .lifeEventAddPhoto:hover{background-color:#e9eaed}
._4lh .fbTimelineCapsule{padding:16px 0}
._4lh .fbTimelineTimePeriod, ._4lh .fbTimelineCapsule{background:none}
._4lh .fbTimelineUnit{margin-bottom:17px}
._4lh ._4_nw ._519b ._2-s, ._4lh .fbTimelineUnit{color:#37404e}
._4lh .topBorder, ._4lh .bottomBorder{position:absolute;z-index:1}
._4lh .fbTimelineCapsule .fbTimelineUnit[data-side="l"] .topBorder{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:0 -9px;height:4px;top:-1px;width:512px}
._4lh .fbTimelineCapsule .fbTimelineUnit[data-side="r"] .topBorder{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-513px -9px;height:4px;top:-1px;width:323px;z-index:0}
._4lh .fbTimelineCapsule .fbTimelineUnit[data-side="r"] .bottomBorder{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-513px -4px;bottom:-1px;height:4px;width:323px}
._4lh .fbTimelineCapsule .fbTimelineUnit[data-side="l"] .bottomBorder{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:0 -4px;bottom:-1px;height:4px;width:512px}
._4lh .fbTimelineCapsule .fbTimelineUnit.collapsedUnit .bottomBorder{background-color:#f6f7f8}
._4lh .fbTimelineCapsule .fbTimelineUnit.collapsedUnit:hover .bottomBorder{background-color:#f9fafb}
._4lh .lifeEventSubtitle, ._4lh #globalContainer #content .fcg, ._4lh #globalContainer #content .uiLinkSubtle{color:#89919c}
._4lh .fbTimelineTwoColumn[data-side="l"] .timelineUnitContainer{width:486px}
._4lh .fbTimelineTwoColumn[data-side="r"] .timelineUnitContainer.recentActivityUnit{width:291px}
html ._4lh .fbTimelineTwoColumn[data-side="l"] .fbTimelineComposerUnit{width:510px}
._4lh ._4_nw, html ._4lh .fbTimelineCapsule .fbTimelineComposerUnit{padding:0}
._4_nw ._4_nt{position:absolute;right:5px;top:0}
._4lh ._4_nw ._9lb{color:#3b5998;margin-right:5px}
._4_nw ._2yg button{font-size:11px}
html ._4_nw ._9lb, ._4_nw ._2yg button{font-family:'lucida grande',tahoma,verdana,arial,sans-serif}
html ._4_nw ._2yg .input, html ._4_nw ._2yg .uiMentionsInput .highlighterContent{font-size:13px}
._4_nw .mleMenu .typesMenuSelected, ._4_nw .mleMenuUninitialized .typesMenu{width:250px}
.fbTimelineComposerUnit ._4_nw .mleMenu .mleTypes{max-width:165px}
._4lh .fbTimelineFriendsBoxLarge{margin-bottom:-14px;margin-top:-17px;width:318px}
._4lh .escapeHatch .fbTimelineFriendsBoxLarge{margin-top:0}
._4lh .timelineRecentActivityStory{margin:0 -15px;padding:3px 0 0}
._4lh .timelineRecentActivityStory:last-child .timelineRecentActivityTextBlock{padding-bottom:0}
._4lh .timelineRecentActivityStory, ._4lh .timelineRecentActivityStory:last-child::after, ._4lh .timelineRecentActivityStories .uiMorePagerPrimary:hover{background:none}
._4lh .timelineRecentActivityTextBlock .timelineRecentActivityHideSelector{right:2px}
._4lh .timelineRecentActivityThumb{background:none;display:inline-block;height:64px;margin:0 10px 0 3px;overflow:hidden;position:relative;vertical-align:middle;width:64px}
._4lh .timelineRecentActivityTextBlock{display:inline-block;margin:0;min-height:64px;padding:0 5px 3px 0;position:relative;width:239px}
._4lh .timelineReportContainer .timelineReportContent .timelineUnitContainer{width:285px}
._4lh #pagelet_timeline_recent .fbTimelineShowOlder{background:none;padding-top:0}
._4lh .fbTimelineStickyHeader .back{border-color:#d3d4d7}
._4lh .fbTimelineTwoColumn[data-side="l"]{width:512px}
._4lh .fbTimelineUnit[data-side="r"]{width:323px}
._4lh .likeUnit .fbTimelineBoxCount, ._4lh .likeUnit .likeUnitImageContainer, ._4lh .fbTimelineSection .fbTimelineFriendsBoxLarge .fbTimelineBoxCount, ._4lh .fbTimelineSection .fbTimelineFriendsBoxLarge .friendPhoto, ._4lh .fbTimelineTwoColumn .photoUnit .photoWidth3 .photoWrap, ._4lh .fbTimelineTwoColumn .photoUnit .photoWidth3Edge .photoWrap{height:103px;width:103px}
._4lh .fbTimelineTwoColumn[data-side="r"] .photoUnit .photoWidth2 .photoWrap, ._4lh .fbTimelineTwoColumn[data-side="r"] .photoUnit .photoWidth2Edge .photoWrap{height:156px;width:156px}
._4lh .fbTimelineTwoColumn[data-side="r"] .photoUnit .photoWidth1 .photoWrap, ._4lh .fbTimelineTwoColumn[data-side="r"] .photoUnit .photoWidth1Edge .photoWrap{height:315px;width:315px}
._4lh .fbTimelineTwoColumn[data-side="l"] .photoUnit .photoWidth1 .photoWrap{height:378px;width:504px}
._4lh .fbTimelineTwoColumn[data-side="l"] .photoUnit .photoWidth2 .photoWrap{height:188px;width:250px}
._4lh .fbTimelineTwoColumn[data-side="l"] .photoUnit .photoWidth2:first-child .photoWrap{width:251px}
._4lh .fbTimelineTwoColumn[data-side="l"] .photoUnit .photoWidth3 .photoWrap{height:125px;width:166px}
html ._4lh .fbTimelineScrubber a, html ._4lh .fbTimelineScrubber .selected ul a{border-left-color:#d3d7dc;color:#89919c}
._4lh .fbTimelineScrubber a:hover, ._4lh .fbTimelineScrubber a:focus{border-left-color:#89919c}
._4lh .fbTimelineScrubber .selected a, ._4lh .fbTimelineScrubber .selected ul a{border-left-color:#6a7480}
html ._4po .ego_section .uiSideHeader, html ._4po .ego_unit_container .ego_unit{border-color:#d3d7dc}
._4po .adsCategoryTitleLink{color:#6a7480}
._4lh ._4po .body ._24x{color:#4e5665}
._4lh ._4po .action, ._4lh ._4po .action .fbEmuContext ._24x{color:#898f9c}
._4lh .map_header_cell{white-space:normal}
.timelinePermalink._4lh .fbTimelineMapContainerMLE{margin-bottom:-3px}
._4lh .fbTimelineTwoColumn .lifeEventAddPhotoContainer{margin:0 -9px}
html ._4lh .fbTimelineTwoColumn .lifeEventAddPhoto, html ._4lh .fbTimelineTwoColumn .fbTimelineMapContainerMLE .lifeEventAddPhotoContainer{border:none;color:#3b5998;margin:0;width:100%}
._4lh .timelineUnitContainer .videoUnit{margin-left:-9px;width:504px}
._4lh .timelineUnitContainer .videoUnit a.videoThumb .img{max-width:504px}
._4lh .timelineUnitContainer .videoUnit, ._4lh .timelineUnitContainer .videoUnit a.videoThumb .img{max-height:378px;min-height:283px}
._4lh .fbTimelineTimePeriodSuppressed .forceLoad, ._4lh .fbTimelineShowOlderSections{background:#f6f7f8;border:1px solid #d3d6db;display:block;height:auto;line-height:50px}
._4lh .fbTimelineTimePeriodSuppressed .forceLoad:hover, ._4lh .fbTimelineShowOlderSections:hover{background:#fafbfc;text-decoration:underline}
._4lh .fbTimelineShowOlderSections .uiMorePagerPrimary:hover{background:none}
._4lh .fbTimelineTimePeriodSuppressed .forceLoad, ._4lh .fbTimelineShowOlderSections .uiMorePagerPrimary{color:#3b5998;font-weight:bold}
._4lh .fbTimelineShowOlderSections .uiMorePagerPrimary{padding:0}
._4lh .profilePicChangeUnit{background:#f6f7f8;margin-left:-9px;width:504px}
._4lh .profilePicChangePhotoLink, ._4lh .profilePicChangeUnit .img{display:block;margin:0 auto;max-width:504px}
._4lh .fbTimelineShowOlder .uiMorePager{padding-right:20px;position:relative}
._4lh .fbTimelineShowOlder .uiMorePager a.uiMorePagerPrimary, ._4lh .fbTimelineShowOlder .uiMorePager a.uiMorePagerPrimary:hover{background:none;border:none;color:#89919c;padding-left:15px}
._4lh .fbTimelineShowOlder{display:inline-block}
._4lh .fbTimelineShowOlderSections{-webkit-border-radius:3px}
._4lh ._5xn{border:4px solid transparent;border-top-color:#89919c;display:inline-block;height:5px;position:absolute;right:0;width:0}
._4lh .freqCheckin .freqCheckinNumber{height:44px;line-height:19px;padding-top:12px}
._4lh .freqCheckin .freqCheckinNumber .freqCheckinBigNumber{line-height:inherit}
._4lh .freqCheckin .freqCheckinName{width:186px}
._4lh .timelinePermalinkSection .fbTimelineUnit{float:none;margin:0 auto}
._4lh .fbTimelinePlatformStorySpike .listItem{max-width:471px}
._4lh .fbTimelinePlatformStorySpike .caption, ._4lh .fbTimelinePlatformStorySpike .uiAttachmentDesc, ._4lh .fbTimelinePlatformStorySpike .uiAttachmentTitle{max-width:396px}
._4lh .timelineReportContainer, ._4lh .fbTimelineCapsule .timelineUnitContainer{border-left:1px solid #d3d6db;border-right:1px solid #d3d6db;padding:12px}
._4lh .fbTimelineCapsule .timelineUnitContainer.fbTimelineLightUnseenUnit{border-left-color:#5890ff;border-left-width:2px;z-index:2}
._4lh .fbTimelineCapsule .timelineReportContainer .timelineUnitContainer, ._4lh .fbTimelineCapsule .timelineUnitContainer.recentActivityUnit{padding:15px}
._4lh .timelineReportContainer{padding:0 0 2px 0}
._4lh .collapsedUnit .timelineReportContainer{padding:0}
._4lh .timelineReportContainer .timelineUnitContainer:first-child{margin-top:2px}
._4lh .timelineReportContainer .photoUnit{margin-bottom:-14px}
._4lh .timelineReportContainer .fbTimelineTwoColumn .timelineUnitContainer, ._4lh .timelineReportContainer .timelineUnitContainer, ._4lh .timelineReportContainer .timelineUnitContainer:last-child{border:0}
._4lh .timelineReportContainer .timelineUnitContainer{border-bottom:1px solid #e9eaed}
._4lh .timelineReportContainer .timelineUnitContainer .aboveUnitContent, ._4lh .timelineReportContainer .timelineUnitContainer .reportUnitTitle{background-color:#fff;color:#89919c;font-weight:normal;padding:6px 10px 8px}
._4lh .fbTimelineUnit[data-side="l"] .photoUnit{margin:0 -12px}
._4lh .fbTimelineTwoColumn .ogProfileBigPhoto.photoUnit{margin-bottom:-15px}
._4lh .fbTimelineTwoColumn .ogProfileBigPhoto .userContentWrapper{padding:0 12px}
._4lh .fbTimelineTwoColumn .coverPhotoChangeUnit, ._4lh .fbTimelineTwoColumn .fbTimelineFlyoutMap{margin-left:-9px}
._4lh .fbTimelineTwoColumn .fbTimelineMapContainerMLE .fbTimelineFlyoutMap{margin-left:0}
._4lh .fbTimelineTwoColumn .fbTimelineMapContainerMLE{margin:0 -9px -15px}
._4lh .fbTimelineTwoColumn .coverPhotoChangeUnit{height:186px;width:504px}
._4lh .fbTimelineTwoColumn .checkinUnit{margin-top:15px;padding-top:0}
._4lh .fbTimelineCapsule li.anchorUnit:last-child{padding-bottom:0}
._4lh .fbTimelineUnit .uiStreamStory .storyContent .storyInnerContent .mainWrapper{margin-top:21px;padding-top:0}
._4lh .fbTimelineUnit .fbMainStreamAttachment{min-height:auto}
._4lh .timelineUnitContainer .uiStreamAttachments{margin-bottom:6px}
html ._4lh .attachmentUnit{border-left-color:#d3d7dc;color:#898f9c}
html ._4lh .attachmentUnit ._58cl, html ._4lh .attachmentUnit ._58cm{color:#898f9c}
._4_7u{float:right;margin-left:15px;width:512px}
._3rbg{float:left;margin-left:0;width:323px}
._3rbf, ._3rbh{list-style:none;margin:0;padding:0}
._4lh .fbTimelineTwoColumn[data-side="r"]{clear:none;float:none}
._4lh .fbTimelineTwoColumn .relationshipImageContainer{height:378px;width:504px}
._4lh ._4_7u .fbTimelineShowOlder a.uiMorePagerPrimary, ._4lh ._4_7u .fbTimelineShowOlder a.uiMorePagerPrimary:hover{padding-left:0}
._4lh ._4_7u .uiMorePager{margin-bottom:40px}
._4lh .uiContextualLayer .lifeEventContainer{margin-left:-3px;margin-right:-3px}
._4lh .uiContextualLayer .lifeEventContainer .uiCommentContainer{margin-bottom:-3px;width:510px}
._4lh .lifeEventHeader{margin-top:16px}
._4lh .lifeEventTitle{margin-bottom:16px}
._4lh .lifeEventSubtitle{margin-bottom:8px}
._4lh .fbTimelineAggregatedMapReportUnit{margin-bottom:-14px}
._4lh ._51nc, ._4lh .likeUnit{margin:-14px -15px}
._4lh .fbTimelineBoxCount{background:#e9eaed;color:#6a7480}
._4lh .lifeEventAddPhoto, ._4lh .fbTimelineBoxCount:hover{background:#f6f7f8}
._4lh .likeUnit .fbTimelineBoxCount, ._4lh .fbTimelineSection .fbTimelineFriendsBoxLarge .fbTimelineBoxCount{line-height:103px}
._4lh .likeUnit .likeUnitTooltip{margin-right:3px;width:103px}
._4lh .likeUnit .likeUnitName{border:1px solid #e9eaed;border-top:none;font-weight:normal;height:32px;line-height:16px;margin-top:0;padding:4px 6px}
._4lh ._51nd{position:relative}
._4lh ._51nc > li{padding-bottom:3px;padding-top:3px}
._4lh .fbTimelineEventPic{height:64px;width:64px}
._4lh .timelineRecentActivityThumb::after, ._4lh ._51nd::after, ._4lh .likeUnit .likeUnitImageContainer::after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._4lh .timelineRecentActivityStory .recentActivityUFI{width:241px}
._4lh .timelineUnitContainer .timelineRecentActivityStory .fbTimelineFeedbackActions{background:transparent;border:none;margin:7px 0 0;padding:0}
._4lh .fbTimelineUnit[data-side="l"] .fbTimelineFeedbackStub, ._4lh .fbTimelineUnit[data-side="l"] .fbTimelineUFI{margin-left:-12px;width:510px}
._4lh .timelineUnitContainer .UFIContainer, ._4lh .timelineUnitContainer .fbTimelineFeedbackActions, ._4lh .timelineUnitContainer .UFIRow, ._4lh .timelineUnitContainer .UFIList{background:#fafbfb}
._4lh .timelineUnitContainer .fbTimelineUFI{color:#4e5665}
._4lh .timelineUnitContainer .fbTimelineFeedbackActions, ._4lh .timelineUnitContainer .UFIRow{border-top:1px solid #e9eaed}
._4lh .timelineUnitContainer .fbTimelineFeedbackActions{padding-bottom:9px;padding-top:8px}
._4lh .mleFlyout ._53io, ._4lh .fbTimelineCapsule .spinePointer, ._4lh .fbTimelineSpine, ._4lh .async_saving ._5xn, ._4lh .timelineUnitContainer .UFILikeIcon, ._4lh .timelineUnitContainer .UFIPagerIcon{display:none}
._4lh .timelineUnitContainer .UFILikeSentence .UFIImageBlockContent, ._4lh .timelineUnitContainer .UFIPagerRow .UFIImageBlockContent{padding-left:0}
._4lh .timelineUnitContainer .UFIRow{border:0;margin:1px 12px 0;padding:9px 0 0}
._4lh .timelineUnitContainer .UFIRow.UFIFirstComponent{padding-top:0}
._4lh .timelineUnitContainer .UFIRow.UFILastComponent, ._4lh .timelineUnitContainer .UFIReplyList.UFILastComponent{padding-bottom:10px}
._4lh .timelineUnitContainer .UFIRow.UFIAddComment, ._4lh .timelineUnitContainer .UFIRow.UFIAddCommentLink{padding:0 0 10px}
._4lh .timelineUnitContainer .UFIRow.UFIFirstCommentComponent{border-top:1px solid #ebebeb;margin-top:0;padding-top:9px}
._4lh .timelineUnitContainer .UFIRow.UFILastCommentComponent, ._4lh .timelineUnitContainer .UFIReplyList.UFILastCommentComponent{padding-bottom:10px}
._4lh .timelineUnitContainer .UFIRow.UFILikeSentence{border-top:1px solid #ebebeb;margin-top:0;padding:10px 0 9px}
._4lh .timelineUnitContainer .UIRow.UFIComment{min-height:35px}
._4lh .timelineUnitContainer .UFIComment .UFIImageBlockImage{margin-left:0}
._4lh ._519e, ._4lh ._51wa, ._4lh .timelineUnitContainer .UFIComment .UFIImageBlockImage, ._4lh .timelineUnitContainer .UFIReplyActorPhotoWrapper{position:relative}
._4lh ._519e:after, ._4lh ._51wa:after, ._4lh .timelineUnitContainer .UFIComment .UFIImageBlockImage:after, ._4lh .timelineUnitContainer .UFIReplyActorPhotoWrapper:after{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:-2px -10px;content:'';height:34px;left:-1px;position:absolute;top:-1px;width:34px}
._4lh ._519e:after, ._4lh ._51wa:after{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-47px -112px;height:42px;width:42px}
._4lh .timelineUnitContainer .uiUfi .uiTypeahead, ._4lh .timelineUnitContainer .uiUfi .uiTypeahead .wrap{border-color:#d3d7dc}
._4lh .timelineUnitContainer .UFIAddComment .UFIAddCommentInput{color:#4e5665;height:30px;padding:7px 8px}
._4lh .timelineUnitContainer .UFIAddComment .highlighter{margin:1px;padding:8px}
._4lh .timelineUnitContainer .UFIReplyList .UFIAddComment .highlighter{padding:3px}
._4lh .timelineUnitContainer .UFIAddComment .UFIAddCommentInput.DOMControl_placeholder{color:#adb2bb}
._4lh .timelineUnitContainer .UFIUnseenItem{border-left:0}
._4lh .timelineUnitContainer .UFIFeaturedComment .UFICommentActorName{background-color:#d3d6db;border:1px solid #cccfd5;-webkit-border-radius:2px;margin:-1px -1px -1px -2px;padding:0 1px}
._4lh .timelineUnitContainer .UFIReplyList{background:0;padding:5px 0 0 40px}
._4lh .timelineUnitContainer .UFIReplyList .UFIRow{background-color:#f0f1f3;border-top:0;margin-top:0;padding:3px 8px}
._4lh .timelineUnitContainer .UFIReplyList .UFIRow.UFIFirstComponent{border-top:1px solid #ebebeb;padding-top:7px}
._4lh .timelineUnitContainer .UFIReplyList .UFIRow.UFILastComponent{border-bottom:1px solid #ebebeb;padding-bottom:7px}
._4lh .timelineUnitContainer .UFIReplyList .UFIPagerRow{line-height:24px}
._4lh .timelineUnitContainer .UFIReplyList .UFIRow.UFIReplySocialSentenceRow{line-height:24px;padding:3px 4px 3px 8px}
._4lh .timelineUnitContainer .UFIReplyList .UFIRow.UFIReplySocialSentenceRow .UFICollapseIcon{margin:3px 4px 5px 4px}
._4lh .timelineUnitContainer .UFIReplyList .UFIRow.UFIReplySocialSentenceRow .UFIPagerIcon{display:block;margin:4px}
._4lh .timelineUnitContainer .UFIReplyList .UFIActorImage{height:24px;width:24px}
._4lh .timelineUnitContainer .UFIReplyList .UFIComment .UFIImageBlockImage:after, ._4lh .timelineUnitContainer .UFIReplyList .UFIReplyActorPhotoWrapper:after{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-629px -58px;height:26px;width:26px}
._4lh .timelineUnitContainer .UFIReplyList .UFIAddComment .UFIAddCommentInput{height:22px;padding:3px 4px}
._4lh .timelineUnitContainer .UFIPhotoAttachLinkWrapper{margin-bottom:-31px;top:-31px}
._4lh .timelineUnitContainer .UFIAddCommentInput{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACAgMAAADgGo6JAAAADFBMVEUAAAAAAAAAAAAAAAA16TeWAAAABHRSTlMMBwsEGJPSdQAAAAxJREFUCB1jUGAoAQAA2ACVhUrgngAAAABJRU5ErkJggg==);background-repeat:repeat-x;background-size:auto;background-position:0 0}
.fbTimelineUFI{background:#fff;position:relative}
html .timelineUnitContainer .fbTimelineUFI{margin-bottom:-12px}
html .timelineUnitContainer .fbTimelineUFIEmpty{margin-top:-3px}
.fbTimelineUFI .fbUfi{padding:0;width:100%}
.fbTimelineUFI .uiUfi .ufiItem{border:0;padding:5px 12px}
.fbTimelineFeedbackLikes,
.fbTimelineFeedbackComments,
.fbTimelineFeedbackShares{float:right;margin-left:5px}
.fbTimelineOneColumn .fbTimelineUFI .uiUfiComment .commentContent{width:600px}
.fbTimelineMiniUFI{margin:0 0 -2px}
.fbTimelineMiniUFI .miniActionList{display:inline-block}
.fbTimelineMiniUFI .uiLoadingIndicatorAsync{margin:0 0 -2px 6px}
.timelineUnitContainer{position:relative}
.timelineUnitContainer .uiCommentContainer{margin-bottom:-12px;margin-left:-12px;padding-top:3px;width:403px}
.fbTimelineOneColumn .uiCommentContainer{width:843px}
.timelineUnitContainer .aboveUnitContent{margin-bottom:15px}
.timelineUnitContainer .belowUnitContent{margin-top:15px}
.timelineUnitContainer .timelineUnitUndoLink{display:inline-block}
.timelineUnitContainer .timelineUnitUndoActionLink{margin-top:5px}
.timelineUnitContainer .timelineUnitUndoActionLink{margin-top:5px}
.timelineUnitContainer .timelineUndoUnitActionList{margin-top:4px;padding-left:12px;list-style-type:disc;list-style-position:outside;color:gray}
.timelineUnitContainer .timelineUndoUnitActionList
.timelineUndoUnitActionListItem{border-style:none;padding-bottom:2px;padding-top:2px}
.timelineUnitContainer .timelineSpamStub{background-color:#f6f7f9;border:1px solid #d3dae8;padding:10px}
.timelineUnitContainer .timelineSpamContent{display:none}
.fbTimelineFeedbackStub.uiCommentContainer{margin-top:12px}
.coverPhotoChangeUnit{display:block;height:149px;margin-left:-12px;overflow:hidden;position:relative}
.fbTimelineTwoColumn .coverPhotoChangeUnit{width:403px}
.fbTimelineOneColumn .coverPhotoChangeUnit{height:312px;width:843px}
.coverPhotoChangeUnit img{position:absolute;width:100%}
.profilePicChangeUnit{background:#f2f2f2;margin-left:-12px;width:403px}
.fbTimelineOneColumn .profilePicChangeUnit{width:843px}
.profilePicChangeUnit .profileChangeImage{display:block;margin:0 auto;max-height:403px;max-width:403px}
.fbTimelineOneColumn .profilePicChangeUnit .profileChangeImage{max-height:403px;max-width:843px}
.fbTimelineOneColumn .profilePicChangeUnit .profileChangeImageContainer{height:403px;width:843px}
._1xw{background:#f6f7f9;border:1px solid #d3dae8;display:block;margin-bottom:12px}
._4lh ._1xw{-webkit-box-shadow:0 1px 3px -1px rgba(0, 0, 0, .15)}
._4lh ._1xw, ._4lh ._1xy{border:0}
._1xw:hover, a._1xx:hover{text-decoration:none}
._1xx{display:block;vertical-align:top;zoom:1}
._1xy{border-right:1px solid #d3dae8;float:left;height:116px;line-height:110px;margin-right:11px;min-width:72px;position:relative;text-align:center}
._1xy .img{vertical-align:middle}
._4lh ._1xy{margin-right:12px}
._4lh ._1xy:after{border:1px solid rgba(0, 0, 0, .15);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._1xz{padding:8px 11px}
._1x-{max-height:98px;overflow:hidden}
._1y0 ._1xz, ._1y0 ._1x-{height:98px}
._4lh ._1y0 ._1x-{height:85px}
._4lh ._1xz{background:#fff;border:1px solid #dee2e9;border-bottom-color:#d2d5dc;border-right-color:#dbdee5;height:90px;padding:12px}
._4lh ._1xw:hover ._1xz{border-color:#e2e2e2 #dadada #ccc;-webkit-box-shadow:0 1px 6px -1px #ccc}
body.Locale_zh_CN ._1x-, body.Locale_zh_HK ._1x-, body.Locale_zh_TW ._1x-{max-height:91px}
.fbTimelineOneColumn ._1x-{width:795px}
.fbTimelineOneColumn ._1y0 ._1x-{width:639px}
._1y1{margin-top:14px}
.timelineUnitContainer ._1y2 .exploded{border:none;margin:0 -12px}
.fbTimelineOneColumn .timelineUnitContainer ._1y2 .exploded{width:843px}
._4lh .timelineUnitContainer ._1y2 .exploded{background:transparent;border:none;margin:0 0 0 -9px;width:504px}
.timelineUnitContainer ._1y2 ._1y3{background:#f2f2f2 no-repeat 50% 50%;display:block;height:214px;margin:-15px 0 12px 0;position:relative;width:379px}
.fbTimelineOneColumn .timelineUnitContainer ._1y2 ._1y3{height:461px;width:819px}
.timelineUnitContainer ._1y2 .exploded .iframeEmbed, .timelineUnitContainer ._1y2 .exploded .swfObject{margin:0 auto}
._1xv{min-width:99px}
._1y4{background:url(/rsrc.php/v2/yG/r/Gj2ad6O09TZ.png) no-repeat 0 0;height:26px;left:50%;margin:-13px 0 0 -17px;position:absolute;top:50%;width:35px}
._1xu ._1y4{background:#fff url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat 50% 50%;height:100%;left:17px;opacity:.7;position:absolute;top:13px;width:100%}
._1x1{padding:10px 0 15px}
._4lh ._1x1{margin:15px 0;padding:0}
.fbTimelineOneColumn ._1x1{padding-right:35px}
._1x2 ._1x3{margin-top:-7px}
._1x1 ._1x3{margin-bottom:-15px}
._4lh ._1x1 ._1x3{margin-bottom:-27px}
div.photoUnit{margin:0 -15px;position:relative}
.photoUnit .onlyMePrivacyCorner{display:none}
.storyOnlyMe .photoUnit .photo{position:relative}
.storyOnlyMe .photoUnit .onlyMePrivacyCorner{display:block;bottom:0;position:absolute;right:0}
.photoUnit .photo{float:left}
.photoUnit .photoWrap{margin-left:3px}
.photoUnit .topPhoto{margin-bottom:3px}
.photoUnit .photoWrap.letterboxedImage{background:#f2f2f2}
.fbTimelineTwoColumn .photoUnit .photoWidth1 .photoWrap{height:403px;width:403px}
.fbTimelineTwoColumn .photoUnit .photoWidth2 .photoWrap{height:200px;width:200px}
.fbTimelineTwoColumn .photoUnit .photoWidth3 .photoWrap{height:133px;width:133px}
.fbTimelineTwoColumn .photoUnit .photoWidth3Edge .photoWrap{width:131px}
.fbTimelineOneColumn .photoUnit .photoWidth1 .photoWrap{height:403px;width:843px}
.fbTimelineOneColumn .photoUnit .photoWidth2 .photoWrap{height:420px;width:420px}
.fbTimelineOneColumn .photoUnit .photoWidth3 .photoWrap{height:279px;width:279px}
.fbTimelineOneColumn .photoUnit .photoWidth4 .photoWrap{height:209px;width:209px}
.fbTimelineOneColumn .photoUnit .photoWidth4Edge .photoWrap{width:208px}
.fbTimelineOneColumn .photoUnit .photoWidth4Bottom .photoWrap{height:208px}
.fbTimelineOneColumn .photoUnit .photoWidth6 .photoWrap{height:138px;width:138px}
.fbTimelineOneColumn .photoUnit .photoWidth7 .photoWrap{height:118px;width:118px}
.fbTimelineOneColumn .photoUnit .photoWidth7Edge .photoWrap{width:117px}
.attachmentUnit{border-left:2px solid #c0c9dd;margin:0 0 12px 2px;padding:5px 0 5px 8px}
.timelineUnitContainer .videoUnit{background:#f2f2f2;margin-left:-12px;max-height:403px;min-height:227px;text-align:center;width:403px}
.fbTimelineOneColumn .videoUnit{max-height:475px;height:auto;width:843px}
.storyOnlyMe .videoUnit{border-top:3px solid #fff;margin-top:-3px}
.videoUnit a.videoThumb{display:block}
.videoUnit a.videoThumb img{display:block;margin:0 auto;max-height:403px;max-width:403px}
.videoUnit .iframeEmbed, .videoUnit .swfObject{margin:0 auto}
.fbTimelineOneColumn .videoUnit a.videoThumb img{max-height:475px;max-width:843px}
.videoUnit a.videoThumb i{left:50%;margin:-13px 0 0 -17px;top:50%}
.sp_43rped{background-image:url(/rsrc.php/v2/y6/r/owJusY9mW27.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_965a89{width:11px;height:11px;background-position:0 -99px}
.sx_5af244{height:17px;background-position:0 -18px}
.sx_d2ca58{background-position:0 -36px}
.sx_df103c{background-position:0 -53px}
.sx_e401a6{width:12px;height:11px;background-position:0 -87px}
.sx_e3ea36{background-position:0 -70px}
.sx_8ec51d{width:17px;height:17px;background-position:0 0}
.sp_8g08g1{background-image:url(/rsrc.php/v2/yX/r/wwa6MsulqLt.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:9px;width:9px}
.sx_8e1c65{width:10px;height:10px;background-position:-14px -75px}
.sx_e22e14{width:13px;height:21px;background-position:0 -75px}
.sx_0eb36a{width:24px;height:24px;background-position:0 0}
.sx_d1c708{width:24px;height:24px;background-position:0 -25px}
.sx_29fb1f{width:24px;height:24px;background-position:0 -50px}
.sx_fff5de{background-position:0 -97px}
.sx_3fec06{background-position:-10px -97px}
.sx_cab980{background-position:0 -107px}
.sx_6521e6{width:10px;height:10px;background-position:-14px -86px}
.uiStream .storyOnlyMe .onlyMeBorder{background:url(/rsrc.php/v2/y5/r/Iuw9iVcAzd4.png);height:8px;margin-right:8px}
.uiStream .uiStreamStory .storyOnlyMe{padding-top:3px}
.uiStreamHomepage .uiStreamStory:first-child .storyOnlyMe{padding-top:7px}
.uiStream .storyOnlyMe .onlyMeBorderBottom{position:relative;top:-3px}
.uiStream .uiStreamStory .storyOnlyMe .mainWrapper{margin-bottom:10px;padding-top:10px}
.uiStream .uiStreamStory .storyOnlyMe .actorPhoto{margin-bottom:10px;margin-top:10px}
.uiStream .uiStreamStory .storyOnlyMeWithoutPhoto .storyInnerContent{margin-left:0}
.uiStream .storyOnlyMe .highlightSelector{margin-top:-13px}
.uiStreamHomepage .uiStreamStory:first-child .storyOnlyMe .highlightSelector{margin-top:-17px}
.uiStreamStory .storyOnlyMe .uiMediaThumb, .uiStreamStory .storyOnlyMe .uiPhotoThumb{overflow:hidden;position:relative}
.uiStreamStory .storyOnlyMe .photoWrap:before, .uiStreamStory .storyOnlyMe .uiMediaThumb:before, .uiStreamStory .storyOnlyMe .uiPhotoThumb:before{background:url(/rsrc.php/v2/yc/r/-RE7vHNrWrR.png);bottom:0;content:'';display:block;height:34px;margin:3px;position:absolute;right:0;width:34px;z-index:1}
.uiStreamStory .storyOnlyMe .photoWrap:before, .uiStreamStory .storyOnlyMe .photoRedesign .uiMediaThumb:before, .uiStreamStory .storyOnlyMe .photoRedesign .uiPhotoThumb:before{margin:0}
.uiStreamStory .storyOnlyMe .uiMediaThumb:before{margin:4px}
.uiStreamStory .storyOnlyMe .uiAttachmentPhotoBox .uiMediaThumb:before{margin:2px}
.permalink_stream .uiStream .storyOnlyMe{padding-bottom:12px}
.permalink_stream .uiStream .storyOnlyMe .onlyMeBorder{margin:-10px 15px 0 0;position:absolute;top:-2px;width:100%}
.permalink_stream .uiStream .storyOnlyMe .onlyMeBorderBottom{bottom:-10px;margin-top:0;position:relative;top:auto;width:100%}
.uiStream .storyOnlyMe .onlyMeDesignSelector .uiSelectorButton span.uiButtonText{color:#3b5998;display:inline-block;line-height:1;margin-left:3px;margin-right:2px}
.uiStream .storyOnlyMe .onlyMeDesignSelector .openToggler span.uiButtonText{color:#fff}
.onlyMeDesignSelector .uiSelectorButton span.uiButtonText{display:none}
.uiStream .uiStreamStory .storyOnlyMe .onlyMeDesignSelector .openToggler
.customimg{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:left -201px;height:12px;margin-left:-1px;margin-top:1px;width:12px}
.uiStream .uiStreamStory .storyOnlyMe .onlyMeDesignSelector .customimg{background-image:url(/rsrc.php/v2/yr/r/IVrvAWdjJqL.png);background-repeat:no-repeat;background-size:auto;background-position:-827px -58px;height:12px;margin-left:-1px;margin-top:1px;width:12px}
.uiStream .uiStreamStory .storyOnlyMe .onlyMeDesignSelector .uiSelectorButton{padding:2px 18px 2px 6px}
.uiStream .uiStreamStory .storyOnlyMe .onlyMeDesignSelector .wrap .uiSelectorButton:hover{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:right -153px;border:1px solid #999}
.uiStream .uiStreamStory .storyOnlyMe:hover .onlyMeDesignSelector .openToggler a.uiSelectorButton, .uiStream .uiStreamStory .storyOnlyMe .onlyMeDesignSelector .openToggler a.uiSelectorButton:hover, .uiStream .uiStreamStory .storyOnlyMe .onlyMeDesignSelector .openToggler a.uiSelectorButton{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:right -251px;background-color:#6d84b4;border:1px solid #3b5998;border-bottom-color:#6d84b4;-webkit-box-shadow:none}
._51tl{-webkit-background-clip:padding-box;background-color:rgba(0, 0, 0, .6);border:1px solid #fff;border-color:rgba(255, 255, 255, .6);-webkit-border-radius:2px;-webkit-box-shadow:0 0 6px rgba(0, 0, 0, .6);-webkit-box-sizing:content-box;color:#fff;font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;font-size:12px;-webkit-font-smoothing:antialiased;font-weight:bold;line-height:22px;padding:0 8px;position:relative;text-align:center;text-shadow:0 0 1px rgba(0, 0, 0, .5);vertical-align:middle}
._51tl:before{content:'';display:inline-block;height:20px;vertical-align:middle}
html ._51tl:focus{-webkit-box-shadow:0 0 1px 2px rgba(88, 144, 255, .75), 0 1px 1px rgba(0, 0, 0, .15);outline:none}
._51tl:hover{background-color:rgba(0, 0, 0, .75);border-color:rgba(255, 255, 255, .75)}
._51tl:active, ._51tl._42fs{background-color:rgba(0, 0, 0, .9);border-color:#fff}
form.async_saving ._51tl, a.async_saving._51tl, ._51tl._42fr, ._51tl._42fr:active, ._51tl._42fr:focus, ._51tl._42fr:hover, ._51tl._42fr._42fs{background-color:rgba(0, 0, 0, .4);border-color:rgba(255, 255, 255, .6);color:rgba(255, 255, 255, .7);cursor:default}
._51tl .img{bottom:1px;position:relative;vertical-align:middle}
._51tl .img.mrs{margin-right:4px}
._51tl .img.mls{margin-left:4px}
._51xa > ._51tl{-webkit-border-radius:0;-webkit-box-shadow:none;margin:0;position:relative;z-index:1}
._51xa > ._51tl:first-child{-webkit-border-radius:2px 0 0 2px}
._51xa > ._51tl:last-child{-webkit-border-radius:0 2px 2px 0}
._51xa > ._51tl + ._51tl{border-left-color:transparent;margin-left:-1px}
._51xa > ._51tl + ._51tl:hover{border-left-color:rgba(255, 255, 255, .4)}
._51xa > ._51tl + ._51tl:active{border-left-color:rgba(255, 255, 255, .8)}
._51xa > ._51tl:focus{z-index:2}
._9a{display:inline-block;position:relative}
._9v .counter{display:none}
span._9w .button{padding-right:22px}
span._9x .button{padding-right:28px}
span._4q9 .button{padding-right:34px}
._9a .counter{position:absolute;right:5px;top:0}
._9y .counter{top:2px}
.uiButtonGroup ._9a .counter{margin-top:-1px}
._97{background:#f03d25;-webkit-border-radius:2px;border:solid 1px #c0311e;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .1);color:#fff;display:inline-block;margin-top:3px;padding:1px 2px 1px;position:relative;white-space:nowrap}
._42xb{background-position:center center;background-repeat:no-repeat}
.openToggler .uiButton.uiPopoverButton, .openToggler .uiButton.uiPopoverButton:active, .openToggler .uiButton.uiPopoverButton:focus, .openToggler .uiButton.uiPopoverButton:hover{background-color:#6d84b4;background-image:none;border:1px solid #3b5998;border-bottom-color:#6d84b4;-webkit-box-shadow:none}
.openToggler .uiPopoverButton .uiButtonText{color:#fff}
.uiPopoverButtonWithChevron{max-width:169px}
a.uiPopoverButtonWithChevron, a.uiPopoverButtonWithChevron:active, a.uiPopoverButtonWithChevron:focus, a.uiPopoverButtonWithChevron:hover{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:right -152px;padding-right:23px}
.uiPopoverButtonWithChevron .uiButtonText{max-width:155px;overflow:hidden;text-overflow:ellipsis;vertical-align:top}
a.uiPopoverButtonWithChevron:active{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:right -104px;border-bottom-color:#999;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .05)}
.openToggler .uiPopoverButton.uiPopoverButtonWithChevron, .openToggler .uiPopoverButton.uiPopoverButtonWithChevron:active, .openToggler .uiPopoverButton.uiPopoverButtonWithChevron:focus, .openToggler .uiPopoverButton.uiPopoverButtonWithChevron:hover{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:right -250px}
.uiPopoverButton.uiButtonSuppressed{border-color:transparent;-webkit-box-shadow:none}
.uiPopoverButtonWithChevron.uiButtonSuppressed{background-image:url(/rsrc.php/v2/yH/r/GYmiAKr-fuu.png);background-repeat:no-repeat;background-size:auto;background-position:right -104px}
a.uiButtonSuppressed.uiPopoverButton:active, a.uiButtonSuppressed.uiPopoverButton:focus, a.uiButtonSuppressed.uiPopoverButton:hover{border:1px solid #999;border-bottom-color:#888;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .1)}

#bootloader_gMY3B { height: 42px; }
.bootloader_gMY3B { display:block !important; }