/*!CK:2211908968!*//*1375676766,178191165*/

.async_throbber .async_saving{background:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat right;padding-right:20px}
.async_throbber_left .async_saving{background:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat left;padding-left:20px}
.threadRow .snippet{max-width:430px;overflow:hidden;position:absolute;text-overflow:ellipsis;white-space:nowrap}
.threadRow .snippet .indicator, #fbMessagesItemList .snippet .indicator{vertical-align:middle}
._559n{-webkit-box-sizing:border-box;width:100%}
._559o{float:right;margin-top:3px}
._55r-{border:1px solid #bdc7d8}
._559n{border:none;display:block;font-size:12px;padding:3px 5px 0}
._57xu{border-bottom:1px dashed #bdc7d8;-webkit-box-sizing:border-box;display:block;height:24px;padding:2px;width:100%}
._55r_.uiStarsRatable span{height:20px;width:20px}
._55r_.uiStarsRatable .emptyStar{background-image:url(/rsrc.php/v2/y3/r/vIjOCWUjq0U.png);background-repeat:no-repeat;background-size:auto;background-position:0 -42px}
._55r_.uiStarsRatable .fullStar, ._55r_.uiStarsRatable .hoverStar{background-image:url(/rsrc.php/v2/y3/r/vIjOCWUjq0U.png);background-repeat:no-repeat;background-size:auto;background-position:0 -63px}
._57xv{margin-left:8px;position:relative;top:-4px}
.app_star_survey_block{padding-top:3px
}
.app_star_survey_privacy_icon{margin-top:3px}
.uiStarsRatable{display:inline-block;position:relative;cursor:pointer}
.uiStarsRatable span{display:inline-block;height:14px;width:16px}
.uiStarsRatable .emptyStar{background-image:url(/rsrc.php/v2/y3/r/vIjOCWUjq0U.png);background-repeat:no-repeat;background-size:auto;background-position:0 -186px}
.uiStarsRatable .fullStar{background-image:url(/rsrc.php/v2/y3/r/vIjOCWUjq0U.png);background-repeat:no-repeat;background-size:auto;background-position:0 -171px}
.uiStarsRatable .hoverStar{background-image:url(/rsrc.php/v2/y3/r/vIjOCWUjq0U.png);background-repeat:no-repeat;background-size:auto;background-position:0 -156px}
.uiStarsRated{cursor:default}
.fbProfileByline{width:493px;margin-top:4px;line-height:15px}
.fbProfileBylineFragment,
.fbProfileNonIconBylineFragment{margin-right:8px;color:#666}
.fbProfileBylineIcon{margin-bottom:1px;margin-top:1px;vertical-align:bottom}
.fbProfileLoggedOutByline{width:493px;margin-top:1px;line-height:14px}
.fbLongBlurb{margin-right:8px;color:#666;padding-bottom:3px}
.fbProfileBylineContextual .inferenceSource{text-align:center;margin-top:10px}
.fbProfileBylineContextual .typeahead{width:300px}
.pagesTimelineButtonPagelet{background-color:#e7ebf2;border-bottom:1px solid #c8d1e2;min-width:122px;padding:13px 0 12px 1px;top:38px;z-index:4}
.fbTimelineWideRightCol .pagesTimelineButtonPagelet{min-width:244px}
body.hasVoiceBar .pagesTimelineButtonPagelet{top:64px}
.pagesTimelineRightColumn .fbTimelineScrubber{top:87px}
body.hasVoiceBar .pagesTimelineRightColumn .fbTimelineScrubber{top:113px}
#createPageButton .img{top:3px}
#createPageButton{padding-left:6px}
#profile_minifeed .reportHide{display:none}
.fbProfileStream .uiStreamMessage .passiveName{font-weight:normal}
.fbProfileStream .uiStreamMessage a.passiveName{font-weight:bold}
.sp_2g8m62{background-image:url(/rsrc.php/v2/y3/r/vIjOCWUjq0U.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:16px}
.sx_1de41f{width:14px;background-position:0 -201px}
.sx_40731f{height:16px;background-position:0 -122px}
.sx_09419e{width:18px;height:18px;background-position:0 -84px}
.sx_f93afc{width:20px;height:20px;background-position:0 0}
.sx_9c10d2{width:14px;background-position:0 -216px}
.sx_95f471{height:16px;background-position:0 -139px}
.sx_785dc9{width:18px;height:18px;background-position:0 -103px}
.sx_ccdba2{width:20px;height:20px;background-position:0 -21px}
.sx_a48282{width:20px;height:20px;background-position:0 -42px}
.sx_5ff7ba{width:20px;height:20px;background-position:0 -63px}
.sx_6afe53{background-position:0 -156px}
.sx_38e599{background-position:0 -171px}
.sx_9e5d0f{background-position:0 -186px}
.sp_4t2sm9{background-image:url(/rsrc.php/v2/ys/r/vEMIassXKy6.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:84px;width:84px}
.sx_c504a4{width:5px;height:5px;background-position:-389px -14px}
.sx_ea8c40{width:5px;height:5px;background-position:-383px -14px}
.sx_31c615{width:16px;height:16px;background-position:-304px -47px}
.sx_61108b{width:16px;height:16px;background-position:-287px -47px}
.sx_17c08b{width:15px;height:16px;background-position:-321px -47px}
.sx_e82ec1{width:28px;height:32px;background-position:-288px -14px}
.sx_418dff{width:23px;height:32px;background-position:-317px -14px}
.sx_b68500{width:32px;height:32px;background-position:-255px -14px}
.sx_fc84b0{width:8px;height:8px;background-position:-407px -27px}
.sx_24131d{width:8px;height:8px;background-position:-398px -27px}
.sx_830787{width:8px;height:12px;background-position:-389px -27px}
.selected .sx_830787{background-position:-381px -27px}
.sx_e75fdc{background-position:-170px -14px}
.sx_584666{background-position:-85px -14px}
.sx_70f18a{background-position:0 -14px}
.sx_1b7c52{width:19px;height:15px;background-position:-341px -27px}
.sx_9cb816{width:19px;height:15px;background-position:-361px -27px}
.sx_a5cd9c{width:15px;height:21px;background-position:-255px -47px}
.sx_ca61e6{width:15px;height:21px;background-position:-271px -47px}
.sx_f6a2f0{width:411px;height:4px;background-position:0 -9px}
.sx_9696e7{width:851px;height:4px;background-position:0 0}
.sx_828c95{width:411px;height:3px;background-position:-412px -9px}
.sx_e0760e{width:851px;height:3px;background-position:0 -5px}
.sx_181467{width:9px;height:5px;background-position:-373px -14px}
.selected .sx_181467{background-position:-364px -14px}
.sx_f57172{width:11px;height:12px;background-position:-352px -14px}
.selected .sx_f57172{background-position:-341px -14px}
.sp_8vtkbs{background-image:url(/rsrc.php/v2/yb/r/vH-lBQiNvIe.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}
.sx_de42d4{width:30px;background-position:0 -198px}
.sx_5ec873{background-position:0 0}
.sx_b4711f{background-position:0 -33px}
.sx_cdf4e6{background-position:0 -66px}
.sx_bc761e{background-position:0 -99px}
.sx_5ce602{background-position:0 -132px}
.sx_e05fdf{background-position:0 -165px}
.sx_39e4e8{width:10px;height:13px;background-position:0 -231px}
.sx_3a8eaf{width:10px;height:13px;background-position:-11px -231px}
.sx_811e1a{width:9px;height:13px;background-position:-22px -231px}
.sx_09ada1{width:9px;height:13px;background-position:0 -245px}
.sx_b405c6{width:9px;height:13px;background-position:-10px -245px}
.sx_cbe105{width:9px;height:13px;background-position:-20px -245px}
._55pe{display:inline-block;overflow:hidden;text-overflow:ellipsis;vertical-align:middle;white-space:nowrap}
.webkit ._55pe{vertical-align:baseline}

._4-rr{display:inline-block}
._4-rr ._4-rs + ._4-rs{margin-left:-1px}
._4-rt{position:relative;z-index:1}
._4-ru{position:relative;z-index:2}
._4-rs._42fr{position:static}
._4-rr ._4-rs{-webkit-border-radius:0}
._4-rv ._4-rs:first-child{-webkit-border-bottom-left-radius:3px;-webkit-border-top-left-radius:3px}
._4-rv ._4-rs:last-child{-webkit-border-bottom-right-radius:3px;-webkit-border-top-right-radius:3px}

.openToggler > a._4-s1, .openToggler > a._4-s1:hover, .openToggler > a._4-s1:focus, .openToggler > a._4-s1:active{background-color:#6d84b4;background-image:none;border:1px solid #3b5998;border-bottom-color:#6d84b4;-webkit-box-shadow:none;color:#fff}

#bootloader_dG7O7 { height: 42px; }
.bootloader_dG7O7 { display:block !important; }