.rec_header{
	background-color: #c4c4c4 ;
}
img{
	cursor:pointer;
}
button{
	background-color: #ababab;
	color :#000000 ;
	border:1px solid black;
	cursor:pointer ;
}
button:HOVER{
	background-color: #e4e4e4;
	color :#000000 ;
	border:1px solid black;
	cursor:pointer ;
}
body{
	font-size:9pt;
}
table{
	font-size:9pt;
}
.rec_row:HOVER{
	background-color: #e4e4e4;
}
.selected_database
{
	cursor:pointer;
	color:#000000 ;
}

.selected_database:HOVER
{
	cursor:pointer;
	color:#ababab ;
}

.tables{
	cursor:pointer;
}
.tables:HOVER{
	background-color:#ababab ;
	color:#000000 ;
}