.page_tbl {
	padding: 8px;
	border: 1px solid black;
	border-collapse: collapse;
}

.page_tbl td {
	padding: 8px;
}

.page_head {
	font-weight: bold;
	font-size: 16px;
}

.img_click{
	cursor: pointer;
}