#ajax_bar {
	background-color: #e4ecf2;
	border: 1px solid #d6d6d6;
	border-left-color: #e4e4e4;
	border-top-color: #e4e4e4;
	margin-top: 0pt auto;
	height: 20px;
	padding: 3px 5px;
	vertical-align: center;
}
 
.border {
	float: left;
	border-right: 2px solid #bbcfdd;
	width: 1px;
	margin: 0pt 6px;
	padding: 0pt 0pt 1px;
}
 
label, input, select {
	font-size: 85%;
	line-height: 1.25em;
	vertical-align: middle;
}
 
input, select { margin-left: 4px; }
label { float: left; }
 
.right  { float: right; font-size: 85%; }
 
#update_first, #update_second {
	float: left;
	width: 385px;
	height: 200px;
	border: 1px solid #d6d6d6;
	border-left-color: #e4e4e4;
	border-top-color: #e4e4e4;
	padding: 0.3em;
	margin-top: 10px;
	margin-left: 10px;
}
 
#update_first { background: #f8f8f8; }
#update_second { background: #f4f4f4; }
 
.highlight { 
	background-color: #E0ECEF;
}
